{% extends 'base.html' %}
{% load static %}
{% block title %} Blog detail {% endblock title %}

{% block body %}
<section class="hero mb-1">
    <div class="hero__title">
        <h1>Home / Blog / Post</h1>
    </div>
</section>

<section class="bloggrid">
    <div class="bloggrid__main">

        <div class="bloggrid__main--content">
            <h3>Sub-heading of page</h3>

            <div class="bloggrid__main--content-img pb-2">
                <img src="{{ object.image.url }}"
                    alt="">
            </div>
            <h1 class="mb-2">{{object.title}}</h1>
            <div class="bloggrid__main--content--txt">
                <p>{{object.content|safe}}</p>
                <div class="share pt-2">
                    <p><small>Share on:</small></p>
                    <div class="social-link">
                        <ul>
                            <li><a href=""><i class="fa-brands fa-facebook-square"></i></a></li>
                            <li><a href=""><i class="fa-brands fa-twitter"></i></a></li>
                            <li><a href=""><i class="fa-brands fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>


        </div>
        <hr class="my-2">

        <h1>Related Posts</h1>
        <ul class="cards">
            <li class="card">
                <a href="{% url 'post_detail' post.slug %}">
                    <div class="card__img">
                        <div class="img__cover">
                            <img src="{{ post.image.url }}"
                                alt="" />
                        </div>
                    </div>
                    <div class="[ card__text ] [ flow ]">
                        <h2>
                            <a href="{% url 'post_detail' post.slug %}">{{post.title}}</a>
                        </h2>
                        
                        <p>{{post.content|slice:":150"}}</p>
                        <small>
                            <span class="visuallyhidden">Uploaded</span>
                            2 weeks ago
                        </small>
                    </div>
                </a>
                
            </li>
        </ul>
    </div>


    <div class="bloggrid__sidebar">
        <div class="bloggrid__sidebar--search mb-2 mt-2">
            <form>
                <label for="gsearch"></label>
                <input type="search" id="gsearch" name="gsearch" placeholder="Search here...">
            </form>
        </div>
        <div class="bloggrid__sidebar--categories">
            <h1>Categories</h1>
            <ul class="Category__list">
                <li><a href="">Default Category &raquo;</a></li>
                <li><a href="">Default Category &raquo;</a></li>
                <li><a href="">Default Category &raquo;</a></li>
                <li><a href="">Default Category &raquo;</a></li>
            </ul>
        </div>

        <hr class="my-2 px-1">

        <div class="bloggrid__sidebar--categories">
            <h1>Useful Links</h1>

            <ul class="Category__list">
                <li><a href="">TENDER &raquo;</a></li>
                <li><a href="{% url 'career' %}">Career/Vacancies &raquo;</a></li>
                <li><a href="">FAQs &raquo;</a></li>
                <li><a href="">Feedback form &raquo;</a></li>
                <li><a href="">Downloads &raquo;</a></li>
                <li><a href="{% url 'post' %}">Articles &raquo;</a></li>
            </ul>
        </div>

    </div>
</section>

{% endblock body %}