{% extends 'base.html' %}
{% load static %}
{% block title %} Blog {% endblock title %}

{% block body %}
<section class="hero">
    <div class="hero__title">
        <h1>Home / Blog</h1>
    </div>
</section>
<section class="bloggrid">
    <div class="bloggrid__main">
        <ul class="cards">
            {% for post in post_list %}
            <li class="card">
                <a href="{% url 'post_detail' post.slug  %}">

                    <div class="card__img">
                        <div class="img__cover">
                            <img src="{{ post.image.url }}"
                                alt="" />
                        </div>
                    </div>
                    <div class="[ card__text ] [ flow ]">
                        <h2>
                            <a href="{% url 'post_detail' post.slug  %}">{{ post.title }}</a>
                        </h2>
                       
                        <p>{{ post.content|slice:":150"}}...</p>
                        <small>
                            <span class="visuallyhidden">Uploaded</span>
                            2 weeks ago
                        </small>
                    </div>
                </a>
            </li>
            {% endfor %}
           
        </ul>
    </div>


    <div class="bloggrid__sidebar">
        <div class="bloggrid__sidebar--search mb-2 mt-2">
            <form>
                <label for="gsearch"></label>
                <input type="search" id="gsearch" name="gsearch" placeholder="Search here...">
            </form>
        </div>
        <div class="bloggrid__sidebar--categories">
            <h1>Categories</h1>
            <ul class="Category__list">
                <li><a href="">Default Category &raquo;</a></li>
                
            </ul>
        </div>

        <hr class="my-2 px-1">

        <div class="bloggrid__sidebar--categories">
            <h1>Useful Links</h1>

            <ul class="Category__list">
                <ul class="Category__list">
                    <li><a href="">TENDER &raquo;</a></li>
                    <li><a href="{% url 'career' %}">Career/Vacancies &raquo;</a></li>
                    <li><a href="{% url 'faq' %}">FAQs &raquo;</a></li>
                    <li><a href="{% url 'contact' %}">Feedback form &raquo;</a></li>
                    <li><a href="{% url 'publication' %}">Downloads &raquo;</a></li>
                    <li><a href="{% url 'post' %}">Articles &raquo;</a></li>
                </ul>
            </ul>
        </div>

    </div>
</section>
{% endblock body %}