{% extends 'base.html' %}
{% load static %}
{% block title %} Blog detail {% endblock title %}

{% block body %}
<section class="hero mb-1">
    <div class="hero__title">
        <h1>Home / Blog / Post</h1>
    </div>
</section>

<section class="bloggrid">
    <div class="bloggrid__main">

        <div class="bloggrid__main--content">
            <h3>Sub-heading of page</h3>

            <div class="bloggrid__main--content-img pb-2">
                <img src="https://images.unsplash.com/photo-1518005020951-eccb494ad742?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=900&q=60"
                    alt="">
            </div>
            <h1 class="mb-2">Lorem, ipsum dolor sit amet consectetur adipisicing.</h1>
            <div class="bloggrid__main--content--txt">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam eum, ducimus explicabo
                    consequatur odio sapiente ipsum facilis quisquam error voluptatem officiis, soluta natus optio atque
                    enim in praesentium odit vero nulla eligendi porro quis obcaecati incidunt iste. Natus non quos
                    facere ut commodi repudiandae in quam iure hic, minima aliquam minus vitae provident distinctio,
                    quod ipsam ipsa pariatur modi nulla, voluptatum inventore esse ea? Necessitatibus cupiditate officia
                    explicabo molestiae in, delectus ut dicta adipisci architecto ex deleniti molestias numquam ipsam
                    eaque qui voluptatum consequatur fugit quae! Accusantium, aliquam totam? Quibusdam hic nobis amet
                    nostrum veritatis corrupti pariatur omnis perferendis sit voluptas esse ipsam id perspiciatis beatae
                    cupiditate iure voluptatibus dignissimos quas excepturi, accusamus commodi deserunt natus? Fuga
                    delectus libero voluptates quisquam nostrum, maiores repellendus sequi ratione nisi corporis
                    aspernatur expedita dicta dolorum enim? Dolore, deleniti voluptatem fuga non iusto quaerat dolorem
                    quibusdam iure aut nisi velit, esse soluta eveniet modi. Eaque beatae vero iure libero praesentium
                    iusto eum nobis voluptatum! Distinctio quas repellat voluptas eius a id provident cum eveniet neque
                    obcaecati, dolor ipsam reprehenderit quidem ab mollitia, enim magnam! Ad illum repellendus culpa
                    quia distinctio facilis, doloremque neque aliquam libero, odio beatae ipsa facere illo molestiae a
                    inventore optio.</p>
                <div class="share pt-2">
                    <p><small>Share on:</small></p>
                    <div class="social-link">
                        <ul>
                            <li><a href=""><i class="fa-brands fa-facebook-square"></i></a></li>
                            <li><a href=""><i class="fa-brands fa-twitter"></i></a></li>
                            <li><a href=""><i class="fa-brands fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>


        </div>
        <hr class="my-2">

        <h1>Related Posts</h1>
        <ul class="cards">

            <li class="card">
                <div class="card__img">
                    <div class="img__cover">
                        <img src="https://images.unsplash.com/photo-1518005020951-eccb494ad742?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=900&q=60"
                            alt="" />
                    </div>
                    <div class="img__profile">
                        <img src="https://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50?s=200" alt="">
                    </div>
                </div>
                <div class="[ card__text ] [ flow ]">
                    <h2>
                        <a href="#">Architecture Centre Launches New Design Lorem, ipsum dolor.</a>
                    </h2>
                    <div class="meta">
                        <p class="meta__info">
                            <span class="visually-hidden">This Podcast has</span>
                            <span class="meta__posts">678 Posts</span>
                            <span class="visually-hidden">And </span>
                            <span class="meta__creators">267 Creators</span>
                        </p>
                    </div>
                    <p>The series is in English with nine episodes available on iTunes and Spotify</p>
                    <small>
                        <span class="visuallyhidden">Uploaded</span>
                        2 weeks ago
                    </small>
                </div>
            </li>
            <li class="card">
                <div class="card__img">
                    <div class="img__cover">
                        <img src="https://images.unsplash.com/photo-1531206266563-27319e334a96?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=900&q=60"
                            alt="" />
                    </div>
                    <div class="img__profile">
                        <img src="https://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50?s=200" alt="">
                    </div>
                </div>
                <div class="[ card__text ] [ flow ]">
                    <h2>
                        <a href="#">Rethinking Traditional Glazing in Two Adaptive Designs</a>
                    </h2>
                    <div class="meta">
                        <p class="meta__info">
                            <span class="visually-hidden">This Podcast has</span>
                            <span class="meta__posts">
                                1.2<abbr title="Thousand">k</abbr> Posts
                            </span>
                            <span class="visually-hidden">And </span>
                            <span class="meta__creators">704 Creators</span>
                        </p>
                    </div>
                    <p>Studio completed two remodel projects in the Netherlands</p>
                    <small>
                        <span class="visuallyhidden">Uploaded</span>
                        1 month ago
                    </small>
                </div>
            </li>
            <li class="card">
                <div class="card__img">
                    <div class="img__cover">
                        <img src="https://images.unsplash.com/photo-1525935944571-4e99237764c9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1502&q=80"
                            alt="" />
                    </div>
                    <div class="img__profile">
                        <img src="https://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50?s=200" alt="">
                    </div>
                </div>
                <div class="[ card__text ] [ flow ]">
                    <h2>
                        <a href="#">Reparametrize Studio Envisions the Future of Smart City</a>
                    </h2>
                    <div class="meta">
                        <p class="meta__info">
                            <span class="visually-hidden">This Podcast has</span>
                            <span class="meta__posts">
                                7.2<abbr title="Thousand">k</abbr> Posts
                            </span>
                            <span class="visually-hidden">And</span>
                            <span class="meta__creators">
                                5.8<abbr title="Thousand">k</abbr> Creators
                            </span>
                        </p>
                    </div>
                    <p>The investigation can distinguish the areas in need of reconstruction</p>
                    <small>
                        <span class="visuallyhidden">Uploaded</span>
                        1 year ago
                    </small>
                </div>
            </li>
        </ul>
    </div>


    <div class="bloggrid__sidebar">
        <div class="bloggrid__sidebar--search mb-2 mt-2">
            <form>
                <label for="gsearch"></label>
                <input type="search" id="gsearch" name="gsearch" placeholder="Search here...">
            </form>
        </div>
        <div class="bloggrid__sidebar--categories">
            <h1>Categories</h1>
            <ul class="Category__list">
                <li><a href="">Default Category &raquo;</a></li>
                <li><a href="">Default Category &raquo;</a></li>
                <li><a href="">Default Category &raquo;</a></li>
                <li><a href="">Default Category &raquo;</a></li>
            </ul>
        </div>

        <hr class="my-2 px-1">

        <div class="bloggrid__sidebar--categories">
            <h1>Useful Links</h1>

            <ul class="Category__list">
                <li><a href="">TENDER &raquo;</a></li>
                <li><a href="{% url 'career' %}">Career/Vacancies &raquo;</a></li>
                <li><a href="">FAQs &raquo;</a></li>
                <li><a href="">Feedback form &raquo;</a></li>
                <li><a href="">Downloads &raquo;</a></li>
                <li><a href="{% url 'post' %}">Articles &raquo;</a></li>
            </ul>
        </div>

    </div>
</section>

{% endblock body %}