{% extends 'base.html' %}
{% load static %}
{% block title %} Contact {% endblock title %}

{% block body %}
<section class="hero">
    <div class="hero__title">
        <h1>Home / Contact Us</h1>
    </div>
</section>


<div class="contact__address">
    <div class="heading mb-3">
        <h1>Get In Touch</h1>
        <div class="linebg_1"></div>
    </div>
    <ul>
        <li>
            <span><i class="fa-solid fa-map-location-dot"></i></i></span>
            <p>P.O. Box 183-90300  Makueni</p>
            <p>Telkom Building, Opposite Mother & Child Hospital</p>
        </li>
        <li>
            <span><i class="fa-solid fa-phone"></i></span>
            <p>
                Tel: +254 708 274961
            </p>
        </li>
        <li>
            <span><i class="fa-solid fa-envelope"></i></span>
            <p>
                Email: sandauthority@makueni.go.ke
            </p>
        </li>
    </ul>
</div>
<section class="contact mt-1 mb-1">
    
    <div class="contact__form">

        <form action="" method="post">
            {% csrf_token %}
            <div class="form-control">
                <label for="response"> Response options: </label>
                <div class="select">
                    {{ form.type }}
                </div>
            </div>
            <div class="form-control">
                <label for="name"> Name: </label>
                {{ form.name }}
            </div>

            <div class="form-control">
                <label for="email">Email: </label>
                {{ form.email }}
            </div>

            <div class="form-control">
                <label for="subject">Subject: </label>
                {{ form.subject }}
            </div>

            <div class="form-control">
                <label for="message">Message: </label>
                {{ form.message }}
            </div>

            <button type="submit" class="btn btn-secondary"> Send</button>
        </form>
    </div>

    <div class="contact__map">
        <div class="mapouter">
            <div class="gmap_canvas"><iframe width="100%" height="100%" id="gmap_canvas"
                    src="https://maps.google.com/maps?q=mirage%20Towers,%20Nairobi&t=&z=17&ie=UTF8&iwloc=&output=embed"
                    frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><br>
                <a href="https://www.embedgooglemap.net"></a>

            </div>
        </div>
    </div>
</section>

{% include 'section/cta_panel.html' %}



{% endblock body %}