<!---------------------------------------------------------------- 
        CTA Begin
 ----------------------------------------------------------------->

 {% for cta in cta %}
<div class="action" style="background-image: url('{{cta.image.url}}'); background-size: cover;">
    <div class="action__section ">
        <div class="action__section--inner">
            <div class="action__section--title mb-2">
                <h1>{{cta.title}}</h1>
            </div>
            <div class="action__section--content">
                <p>{{cta.description | safe}}</p>
            </div>
            <div class="action__section--button">
                <a href="{{ cta.url }}" target="_blank">Learn More &rarr;</a>
                <a href="{% url 'contact' %}">Contact us</a>
            </div>
        </div>
    </div>
</div>
{% endfor %}

<!-- CTA end -->