<!doctype html>
<html lang="en">
{% load static %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>
        {% block title %}Template demo{% endblock title %}
    </title>
    <link rel="icon" type="image/x-icon" href="{% static 'img/assets/favicon.ico' %}">

    <!-- goole fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,400;0,500;0,700;1,100;1,400&display=swap"
        rel="stylesheet">

    <!-- fontawesome kit -->
    <script src="https://kit.fontawesome.com/7f432974b7.js" crossorigin="anonymous"></script>

    <!-- Custom css -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <div id="preloader"></div>

    {% include 'header.html' %}

    <section class="social">
        <div class="social__links">
            <ul>
                <li><a href="https://www.facebook.com/makuenicountysand" title="Facebook"><i class="fa-brands fa-facebook-f"></i></a></li>

                <li><a href="https://ke.linkedin.com/company/makueni-county-sand-conservation-and-utilization-authority"
                        title="LinkedIn"><i class="fa-brands fa-linkedin-in"></i></a></li>

                <li><a href="https://mobile.twitter.com/makueni_sand" title="Twitter"><i class="fa-brands fa-twitter"></i></a></li>
            </ul>
        </div>
    </section>

    {% block body %}

    {% endblock body %}
    <!-- Chat Bar Block -->
    {% include 'chat.html' %}
    {% include 'footer.html' %}

    <script>
        var loader = document.getElementById("preloader");
        window.addEventListener("load", function(){
            loader.style.display = "none";

        })
    </script>


    <!-- Jquery code -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.14.3/js/uikit-core.min.js" integrity="sha512-PVuP9mKKMDlQ0zH2LYiyawFfgS/VTBQb06/sjwd2uitTb+IdMWIj2EMm4tQWt9wP9iaPIcN6CyvZDLFVgQaKAw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- custom js -->
    <script src="{% static 'js/root.js' %}" type="text/javascript" ></script>
    <script src="{% static 'js/chat.js' %}" type="text/javascript" ></script>
    <script src="{% static 'js/responses.js' %}" type="text/javascript" ></script>
</body>

</html>