{% load static %}
{% load ratings %}
<footer>
    <div class="footer">
        <div class="footer__content">
            <div class="footer__content--item">
                <h4>Get in Touch</h4>
                <div class="address">
                    <p><i class="las la-map-marker-alt"></i> P.O. Box 183-90300 Makueni</p>
                    <p>
                        <i class="las la-phone-alt"></i> Tel: +254 708 274961
                    </p>
                    <p>
                        <i class="las la-at"></i> Email: info@makuenisandauthority.go.ke
                    </p>

                </div>
            </div>



            <div class="footer__content--item">
                <h4>Quick Links</h4>
                <ul>
                    <li><a href="{% url 'feedback' %}">Feedback</a></li>
                    <li><a href="{% url 'gallery' %}">Photo Gallery</a></li>
                    <li><a href="{% url 'faq' %}">FAQs</a></li>
                </ul>
            </div>

            <div class="footer__content--item opinion-poll">
                <h4>Rate our Services</h4>
                <form action="">
                    <div class="list">
                        <input type="radio" name="opinion" id="excelent">
                        <label for="excelent">Excelent</label>
                    </div>
                    <div class="list">
                        <input type="radio" name="opinion" id="average">
                        <label for="average">Average</label>
                    </div>
                    <div class="list">
                        <input type="radio" name="opinion" id="poor">
                        <label for="poor">poor</label>
                    </div>
                    <button class="btn btn-white" type="submit">Results</button>
                </form>

            </div>

            <div class="footer__content--item">
                <h4>Subscribe to our Newsletter</h4>
                {% include 'section/message.html' %}
                <form action="" method="post">
                    {% csrf_token %}
                    <div class="form-control">
                        {{ form.email }}
                    </div>
                    <button class="btn btn-secondary">Subscribe</button>
                </form>

            </div>



        </div>
    </div>

    <div class="certified">
        <p>The Sand Authority is ISO 9001:2015 Certified</p>
    </div>

    <div class="copyright ">
        <p>&copy; 2022 Makueni County Sand Conservation & Utilization Authority.</p>
        <ul>
            <li>
                <a href="{% url 'privacy' %}">Privacy Policy</a>
            </li>

            <li>
                <a href="{% url 'terms' %}">Terms of Service</a>
            </li>

            <li>
                <a href="{% url 'faq' %}">FAQs</a>
            </li>


        </ul>
    </div>
    
</footer>