{% load static %}


<div class="header__top">
    <div class="logo" title="Makueni sand Conservation and Utilization Authority">
        <a href="/">
            <img src="{% static 'img/logo1.png' %}" alt="">
        </a>
    </div>
    <ul class="easy-contact">
        <li>
            <div class="easy-contact-icon">
                <span><i class="fa-solid fa-clock"></i></span>
            </div>
            <div class="easy-contact-info">
                <span>Open Hours</span>
                <p>Mon - Fri, 8:00am - 5:00pm</p>
            </div>
        </li>
        <li>
            <div class="easy-contact-icon">
                <span><i class="fa-solid fa-phone"></i></span>
            </div>
            <div class="easy-contact-info">
                <span>Call Us</span>
                <p>+254 708 274961</p>
            </div>
        </li>
        <li>
            <div class="easy-contact-icon">
                <span><i class="fa-solid fa-envelope"></i></span>
            </div>
            <div class="easy-contact-info">
                <span>Email Us</span>
                <p>sandauthority@makueni.go.ke</p>
            </div>
        </li>

    </ul>
</div>
<div class="header .sticky">

    <button class="mobile-nav-toggle" aria-controls="primary-navigation" aria-expanded="false">
    </button>
    <nav>
        <ul id="primary-navigation" data-visible="false" class=" primary-navigation flex">
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a>About</a> <i class="fa-solid fa-caret-down"></i>
                <div class="sub-menu">
                    <ul>
                        <li><a href="{% url 'about' %}">Who we are</a></li>
                        <li><a href="">Departments</a></li>
                        <hr>
                        <li><a href="{% url 'team' %}">Board of directors</a></li>
                    </ul>
                </div>
            </li>
            <li>
                <a href="{% url 'services' %}">Services</a>
            </li>
            <li>
                <a href="{% url 'post' %}">Blog</a>
            </li>
            <li>
                <a href="{% url 'contact' %}">Contact</a>
            </li>

            <li>
                <a>Resources</a><i class="fa-solid fa-caret-down"></i>
                <div class="sub-menu">
                    <ul>
                        <li><a href="">Archive</a></li>
                        <li><a href="">Gallery</a></li>
                        <li><a href="">Complaints</a></li>
                        <li><a href="{% url 'career' %}">Career</a></li>
                        <li><a href="">Tenders</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </nav>
    <div class="cta">
        <a href="">Get Started</a>
    </div>
</div>