{% extends 'base.html' %}
{% load static %}
{% block title %} Home {% endblock title %}

{% block body %}

<!-- Slider 1 -->
<div class="slider" id="slider1">
    <!-- Slides -->
    {% for carousel in carousel%}
    <div style="background-image:url('{{ carousel.image.url }}')">
        <span>
            <h2>{{carousel.title}}</h2>
            <p>{{carousel.caption}}</p>

            <!-- <a href="{% url 'functions' %}" class="action__btn"> Learn more &rarr;</a>
            <a href="{% url 'contact' %}" class="contact__btn"> Get Help &rarr;</a> -->

        </span>
    </div>
    {% endfor %}

    <!-- The Arrows -->
    <i class="left" class="arrows" style="z-index:2; position:absolute;"><svg viewBox="0 0 100 100">
            <path d="M 10,50 L 60,100 L 70,90 L 30,50  L 70,10 L 60,0 Z"></path>
        </svg></i>
    <i class="right" class="arrows" style="z-index:2; position:absolute;"><svg viewBox="0 0 100 100">
            <path d="M 10,50 L 60,100 L 70,90 L 30,50  L 70,10 L 60,0 Z" transform="translate(100, 100) rotate(180) ">
            </path>
        </svg></i>
    <!-- Title Bar -->
    <!-- <span class="titleBar">
        <h1>Our Sand, Our Livelihood</h1>
    </span> -->
</div>
<!-- end slider -->

<div class="grid">
    <main class="grid__main home">


        <div class="grid__main--items">
            <h2><a href="{% url 'about' %}">Who we are &rarr;</a></h2>
            <p>Sand harvesting and trade gained popularity as a source of quick cash in Makueni and other arid and
                semi-arid areas that harbour high quality sand. With a rapidly growing construction industry in towns
                like Nairobi, Thika and Athi-river ... </p>
        </div>

        <div class="grid__main--items">
            <h2><a href="{% url 'functions' %}">What we do &rarr;</a></h2>
            <p>Supervise and coordinate all matters relating to sand conservation and utilization in the County;
                Promote the integration of sand related .... </p>
        </div>

        <div class="grid__main--items">
            <h2>Our Mission </h2>
            <p>To coordinate, supervise and regulate sand conservation and utilization for sustainable
                environmental and socio-economic development.</p>
        </div>

        <div class="grid__main--items">
            <h2>Our Vision</h2>
            <p>To be a world class Authority in sand conservation and utilization for sustainable development.</p>
        </div>



    </main>
    <aside class="grid__sidebar">
        <h1>A Future Where People & Nature Thrive</h1>
        <p>As an organization we are keen on sustainable conservation and utilization of sand within Makueni County. We
            enhance community’s knowledge on importance of environmental protection and sustainable sand utilization
            through public barazas and partner other organizations in construction of sand dams. Makueni County has an
            effective framework to oversee sand activities thus serves as a case study for how other counties can
            ameliorate illegal sand harvesting.</p>
    </aside>
</div>

<!---------------------------------------------------------------- 
        Recent Articles Begin
 ----------------------------------------------------------------->
{% for emp in emp %}
<section class="paralax">
    <div class="paralax__inner"
        style="background: url('{{ emp.image.url }}') no-repeat center; background-size: cover;">
        <div class="backdrop">

            <div class="paralax__title">
                <h1>Community Empowerment</h1>
            </div>
            <div class="paralax__content">
                <p>{{emp.message}}</p>
            </div>
        </div>
    </div>
</section>
{% endfor %}
<!-- end empowerment -->

<!---------------------------------------------------------------- 
        Recent Articles Begin
 ----------------------------------------------------------------->
<section class="latest-post">

    <h1>Our latest News</h1>
    <div class="linebg_1"></div>

    <ul class="cards mb-3">
        {% for post in post %}
        <li class="card">
            <a href="{% url 'post_detail' post.slug %}">
                <div class="card__img">
                    <div class="img__cover">
                        <img src="{{ post.image.url }}" alt="" />
                    </div>
                </div>
                <div class="[ card__text ] [ flow ]">
                    <h2>
                        <span>{{ post.title }}</span>
                    </h2>

                    <p>{{ post.content |safe | truncatewords_html:20 }}</p>
                    <small>
                        <span class="visuallyhidden">Uploaded | </span>
                        {{ post.created_on | date }}
                    </small>
                </div>
            </a>
        </li>
        {% endfor %}

    </ul>
</section>
<!-- recent Articles end -->

<!---------------------------------------------------------------- 
        Feature articles
 ----------------------------------------------------------------->
<div class="featured">
    <div class="heading mb-2 mt-2">
        <h1>Featured Articles</h1>
        <div class="linebg_1"></div>
    </div>
    <div class="featured__article">
        {% for featured in featured %}

        <a href="{{ featured.url }}" target="_blank">
            <div class="featured__article--card">
                <img src="{{ featured.image.url }}" alt="">
                <div class="featured__article--content">
                    <div class="featured__article--title">
                        <h2>{{ featured.title }}</h2>
                    </div>
                    <div class="featured__article--time">
                        <p>
                            Created | <span>{{ featured.created_on | date}}</span>
                        </p>
                    </div>
                </div>
            </div>
        </a>
        {% endfor %}

    </div>

</div>


<!-- end of feature articles -->


<!---------------------------------------------------------------- 
        Patners Begin
 ----------------------------------------------------------------->

<section class="patners my-2">
    <div class="patners__list">
        <div class="heading mb-2 mt-2">
            <h1>Our Partners</h1>
            <div class="linebg_1"></div>
        </div>
        <ul>
            {% for patner in patners %}
            <li>
                <a href="{{ patner.url }}">
                    <img src="{{ patner.image.url }}" height="100px" alt="{{patner.name}}" />
                    <caption>
                        {{ patner.name | safe }}
                    </caption>
                </a>
            </li>
            {% endfor %}

        </ul>
    </div>
</section>

<!-- Patners end -->

{% include 'section/cta_panel.html' %}


{% endblock body %}