{% extends 'base.html' %}
{% load static %}
{% block title %} Home {% endblock title %}

{% block body %}

<!-- ---------------------------------------------------------
    Main slider
 ------------------------------------------------------------->
<div class="carousel">
    {% for carousel in carousel%}
    <div class="carousel__item" style="background-image: url('{{ carousel.image.url }}'); background-size: cover;">
        <div class="carousel__inner">
            <div class="carousel__inner--content">
                <h1>{{carousel.title}}</h1>
                <p>{{carousel.caption}}
                </p>
                <a href="" class="action__btn"> See what we can do <strong>Together </strong> &rarr;</a>
            </div>
        </div>
    </div>
    {% endfor %}

</div>
<!-- end main slider -->




<div class="grid">
    <main class="grid__main">


        <div class="grid__main--items">
            <h2><a href="{% url 'about' %}">Who we are &rAarr;</a></h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam aut quod voluptates voluptatibus
                praesentium, </p>
        </div>

        <div class="grid__main--items">
            <h2>What we do ></h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam aut quod voluptates voluptatibus
                praesentium, </p>
        </div>

        <div class="grid__main--items">
            <h2>How to help ></h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam aut quod voluptates voluptatibus
                praesentium, </p>
        </div>

        <div class="grid__main--items">
            <h2>Donate to us ></h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam aut quod voluptates voluptatibus
                praesentium, </p>
        </div>

    </main>
    <aside class="grid__sidebar">
        <h1>A Future Where People & Nature Thrive</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rem quae, rerum praesentium odit cupiditate alias
            porro culpa minima possimus, sint corporis, sunt doloribus obcaecati nulla? Quod soluta doloremque numquam
            molestias!</p>
    </aside>
</div>

<!---------------------------------------------------------------- 
        Recent Articles Begin
 ----------------------------------------------------------------->
{% for emp in emp %}
<section class="paralax" style="background: url('{{ emp.image.url }}') center no-repeat;">
    <div class="paralax__inner">
        <div class="paralax__title">
            <h1>Community Empowerment</h1>
        </div>
        <div class="paralax__content">
            <p>{{emp.message}}</p>
        </div>
    </div>
</section>
{% endfor %}
<!-- end empowerment -->

<!---------------------------------------------------------------- 
        Recent Articles Begin
 ----------------------------------------------------------------->
<section class="latest-post">

    <h1>Our latest News</h1>
    <div class="linebg_1"></div>

    <ul class="cards mb-3">
        {% for post in post %}
        <li class="card">
            <a href="{% url 'post_detail' post.slug %}">
                <div>

                    <div class="card__img">
                        <div class="img__cover">
                            <img src="{{ post.image.url }}" alt="" />
                        </div>
                    </div>
                    <div class="[ card__text ] [ flow ]">
                        <h2>
                            <a href="{% url 'post_detail' post.slug %}">{{ post.title }}</a>
                        </h2>

                        <p>{{post.content|slice:":150"}}...</p>
                        <small>
                            <span class="visuallyhidden">Uploaded</span>
                            2 weeks ago
                        </small>
                    </div>
                    <div class="read__more">
                        <a href="{% url 'post_detail' post.slug %}">Read More &rarr;</a>
                    </div>
                </div>
        </li>
        </a>
        {% endfor %}

    </ul>
</section>
<!-- recent Articles end -->

<!---------------------------------------------------------------- 
        Patners Begin
 ----------------------------------------------------------------->

<section class="patners my-2">
    <div class="patners__list">
        <div class="heading mb-2 mt-2">
            <h1>Our Patners</h1>
            <div class="linebg_1"></div>
        </div>
        <ul>
            {% for patner in patners %}
            <li>
                <a href="{{ patner.url }}">
                    <img src="{{ patner.image.url }}" width="200" alt="{{patner.name}}" />
                </a>
            </li>
            {% endfor %}

        </ul>
    </div>
</section>

<!-- Patners end -->

{% include 'section/cta_panel.html' %}


{% endblock body %}