@charset "UTF-8";
.m-1 {
  margin: 1rem;
}

.my-1 {
  margin: 1rem 0;
}

.mx-1 {
  margin: 0 1rem;
}

.mt-1 {
  margin-top: 1rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.p-1 {
  padding: 1rem;
}

.py-1 {
  padding: 1rem 0;
}

.px-1 {
  padding: 0 1rem;
}

.pt-1 {
  padding-top: 1rem;
}

.pb-1 {
  padding-bottom: 1rem;
}

.m-2 {
  margin: 2rem;
}

.my-2 {
  margin: 2rem 0;
}

.mx-2 {
  margin: 0 2rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.p-2 {
  padding: 2rem;
}

.py-2 {
  padding: 2rem 0;
}

.px-2 {
  padding: 0 2rem;
}

.pt-2 {
  padding-top: 2rem;
}

.pb-2 {
  padding-bottom: 2rem;
}

.m-3 {
  margin: 3rem;
}

.my-3 {
  margin: 3rem 0;
}

.mx-3 {
  margin: 0 3rem;
}

.mt-3 {
  margin-top: 3rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.p-3 {
  padding: 3rem;
}

.py-3 {
  padding: 3rem 0;
}

.px-3 {
  padding: 0 3rem;
}

.pt-3 {
  padding-top: 3rem;
}

.pb-3 {
  padding-bottom: 3rem;
}

.m-4 {
  margin: 4rem;
}

.my-4 {
  margin: 4rem 0;
}

.mx-4 {
  margin: 0 4rem;
}

.mt-4 {
  margin-top: 4rem;
}

.mb-4 {
  margin-bottom: 4rem;
}

.p-4 {
  padding: 4rem;
}

.py-4 {
  padding: 4rem 0;
}

.px-4 {
  padding: 0 4rem;
}

.pt-4 {
  padding-top: 4rem;
}

.pb-4 {
  padding-bottom: 4rem;
}

.m-5 {
  margin: 5rem;
}

.my-5 {
  margin: 5rem 0;
}

.mx-5 {
  margin: 0 5rem;
}

.mt-5 {
  margin-top: 5rem;
}

.mb-5 {
  margin-bottom: 5rem;
}

.p-5 {
  padding: 5rem;
}

.py-5 {
  padding: 5rem 0;
}

.px-5 {
  padding: 0 5rem;
}

.pt-5 {
  padding-top: 5rem;
}

.pb-5 {
  padding-bottom: 5rem;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(244, 244, 244);
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 700;
  line-height: 1.6;
  margin-top: 0;
  color: inherit;
}

p {
  margin-top: 0;
  color: inherit;
}

a,
a:visited,
a:active {
  text-decoration: none;
  color: inherit;
}

ol,
ul {
  list-style: none;
}

hr {
  margin: 0;
}

input,
input[type=text],
input[type=email],
input[type=date],
input[type=search],
input[type=tel],
textarea {
  padding-block: 12px;
  margin: 8px 0;
  box-sizing: border-box;
  font-family: inherit;
  background: transparent;
  border: none;
  border-bottom: 1px solid black;
}
input:focus, input:focus-visible,
input[type=text]:focus,
input[type=text]:focus-visible,
input[type=email]:focus,
input[type=email]:focus-visible,
input[type=date]:focus,
input[type=date]:focus-visible,
input[type=search]:focus,
input[type=search]:focus-visible,
input[type=tel]:focus,
input[type=tel]:focus-visible,
textarea:focus,
textarea:focus-visible {
  outline: none;
  border-bottom: 3px solid rgb(184, 121, 5);
}

textarea {
  resize: none;
  height: 100px;
}

.form-control {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.input-group {
  display: flex;
  justify-content: stretch;
  gap: 1em;
  width: 100%;
}
.input-group input {
  width: 100%;
}

.btn-white, .btn-secondary, .btn-primary {
  display: inline-block;
  border-radius: 3px;
  padding: 7px 20px;
  margin: 1em;
  border: none;
}
.btn-white:hover, .btn-secondary:hover, .btn-primary:hover {
  border-radius: 50px;
}

.btn-primary {
  background-color: #90cd4b;
  color: rgb(255, 255, 255);
  border-color: rgb(255, 255, 255);
}

.btn-secondary {
  background-color: rgb(184, 121, 5);
  color: rgb(255, 255, 255);
  border-color: rgb(255, 255, 255);
}

.btn-white {
  background-color: rgb(255, 255, 255);
  color: #333333;
  border-color: #333333;
}

.m-1 {
  margin: 1rem;
}

.my-1 {
  margin: 1rem 0;
}

.mx-1 {
  margin: 0 1rem;
}

.mt-1 {
  margin-top: 1rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.p-1 {
  padding: 1rem;
}

.py-1 {
  padding: 1rem 0;
}

.px-1 {
  padding: 0 1rem;
}

.pt-1 {
  padding-top: 1rem;
}

.pb-1 {
  padding-bottom: 1rem;
}

.m-2 {
  margin: 2rem;
}

.my-2 {
  margin: 2rem 0;
}

.mx-2 {
  margin: 0 2rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.p-2 {
  padding: 2rem;
}

.py-2 {
  padding: 2rem 0;
}

.px-2 {
  padding: 0 2rem;
}

.pt-2 {
  padding-top: 2rem;
}

.pb-2 {
  padding-bottom: 2rem;
}

.m-3 {
  margin: 3rem;
}

.my-3 {
  margin: 3rem 0;
}

.mx-3 {
  margin: 0 3rem;
}

.mt-3 {
  margin-top: 3rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.p-3 {
  padding: 3rem;
}

.py-3 {
  padding: 3rem 0;
}

.px-3 {
  padding: 0 3rem;
}

.pt-3 {
  padding-top: 3rem;
}

.pb-3 {
  padding-bottom: 3rem;
}

.m-4 {
  margin: 4rem;
}

.my-4 {
  margin: 4rem 0;
}

.mx-4 {
  margin: 0 4rem;
}

.mt-4 {
  margin-top: 4rem;
}

.mb-4 {
  margin-bottom: 4rem;
}

.p-4 {
  padding: 4rem;
}

.py-4 {
  padding: 4rem 0;
}

.px-4 {
  padding: 0 4rem;
}

.pt-4 {
  padding-top: 4rem;
}

.pb-4 {
  padding-bottom: 4rem;
}

.m-5 {
  margin: 5rem;
}

.my-5 {
  margin: 5rem 0;
}

.mx-5 {
  margin: 0 5rem;
}

.mt-5 {
  margin-top: 5rem;
}

.mb-5 {
  margin-bottom: 5rem;
}

.p-5 {
  padding: 5rem;
}

.py-5 {
  padding: 5rem 0;
}

.px-5 {
  padding: 0 5rem;
}

.pt-5 {
  padding-top: 5rem;
}

.pb-5 {
  padding-bottom: 5rem;
}

.flex {
  display: flex;
}

.logo {
  padding: 0.5em;
  margin-inline: clamp(1em, 3vw, 5em);
  width: 70px;
}
.logo img {
  width: 100%;
}

.header__top {
  background-color: #90cd4b;
  color: rgb(255, 255, 255);
  border-color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.8em;
  width: 100%;
}
@media (max-width: 699.98px) {
  .header__top {
    position: fixed;
    z-index: 9999;
  }
}
.header__top .easy-contact {
  display: none;
}
@media (min-width: 900px) {
  .header__top .easy-contact {
    display: flex;
    gap: 1em;
    justify-content: space-evenly;
    margin-inline: clamp(1em, 3vw, 5em);
    padding-block: 10px;
  }
  .header__top .easy-contact li {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header__top .easy-contact li .easy-contact-icon i {
    font-size: 15px;
    margin-inline-end: 5px;
    border-radius: 100%;
    background-color: #90cd4b;
    color: rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
  }
  .header__top .easy-contact li .easy-contact-info {
    padding: 0.5em;
  }
  .header__top .easy-contact li .easy-contact-info span {
    font-size: x-small;
    color: grey;
    line-height: 1;
  }
  .header__top .easy-contact li .easy-contact-info p {
    font-weight: 600;
    line-height: 1;
  }
}

@media (max-width: 899.98px) {
  .cta {
    display: none;
  }
}
.cta {
  padding-inline: clamp(1rem, 90vw, 3rem);
}
.cta a {
  background-color: rgb(255, 255, 255);
  color: #333333;
  border-color: #333333;
  padding: 0.5em 2em;
  border-radius: 20px;
}
.cta a:hover {
  background-color: #90cd4b;
  color: rgb(255, 255, 255);
  border-color: rgb(255, 255, 255);
  border: 1px solid;
}

.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  display: flex;
  gap: 2em;
  background-color: rgb(255, 255, 255);
  color: #333333;
  border-color: #333333;
  width: 100%;
  align-items: center;
  justify-content: start;
  padding-block: 0.1em;
  margin: 0;
  z-index: 9999;
  transition: 500ms;
}
@media (max-width: 699.98px) {
  .header {
    background-color: rgb(255, 255, 255);
    color: #333333;
    border-color: #333333;
  }
}
.header nav {
  text-align: left;
}
.header .primary-navigation {
  list-style: none;
  float: right;
}
.header .primary-navigation i {
  margin-inline-start: 0.5em;
}
@media (min-width: 700px) {
  .header .primary-navigation {
    padding-inline: clamp(1rem, 10vw, 3rem);
  }
}
@media (max-width: 699.98px) {
  .header .primary-navigation {
    position: fixed;
    inset: 0 0 0 30%;
    z-index: -1;
    flex-direction: column;
    padding-inline: 2em;
    gap: 1.3em;
    padding-block: min(15vh, 10rem);
    transform: translateX(100%);
    transition: transform 400ms ease-in-out;
    background-color: hsla(0deg, 0%, 0%, 0.815);
    color: rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
  }
  .header .primary-navigation[data-visible=true] {
    transform: translateX(0);
  }
  @supports (backdrop-filter: blur(1rem)) {
    .header .primary-navigation {
      background-color: rgb(255, 255, 255);
      color: #333333;
      border-color: #333333;
      backdrop-filter: blur(1rem);
    }
  }
}
.header .primary-navigation a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1em;
  color: inherit;
  opacity: 1;
  position: relative;
}
.header .primary-navigation a::before {
  content: "";
  display: block;
  height: 5px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  bottom: -1.2em;
  left: 0;
  right: 0;
  transform: scale(0, 1);
  transition: transform ease-in-out 250ms;
}
.header .primary-navigation a:hover::before {
  transform: scale(1, 1);
}
.header .primary-navigation a:hover {
  color: rgb(184, 121, 5);
}
.header .primary-navigation li {
  border-inline-end: 1px solid;
  padding-inline: 1em;
}
.header .primary-navigation li:last-child {
  border-inline-end: none;
}
@media (max-width: 699.98px) {
  .header .primary-navigation li {
    border-inline-end: none;
  }
}
.header .primary-navigation li:hover .sub-menu {
  background-color: rgb(255, 255, 255);
  color: #333333;
  border-color: #333333;
  display: block;
  position: absolute;
  z-index: 99;
  margin-top: 0;
  margin-left: 1px;
}
@media (max-width: 699.98px) {
  .header .primary-navigation li:hover .sub-menu {
    position: relative;
  }
}
.header .primary-navigation li:hover .sub-menu ul {
  display: block;
}
.header .primary-navigation li:hover .sub-menu ul li {
  width: 200px;
  padding: 0.5em 1em;
  border-radius: 0;
  text-align: left;
}
.header .primary-navigation li:hover .sub-menu ul li a {
  width: 100%;
  text-transform: capitalize;
  font-weight: 500;
}
.header .primary-navigation li:hover .sub-menu ul li a::before {
  display: none;
}
.header .primary-navigation li:hover .sub-menu ul li a:hover {
  color: rgb(184, 121, 5);
  font-weight: 700;
}
@media (max-width: 699.98px) {
  .header .primary-navigation li:hover .sub-menu ul li:hover {
    background-color: rgb(255, 255, 255);
    color: #333333;
    border-color: #333333;
  }
}
.header .sub-menu {
  display: none;
}
.header .search__global {
  position: relative;
  display: inline-block;
}
.header .search__global--btn {
  background-color: transparent;
  color: inherit;
  padding: 0 1em;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
.header .search__global--btn:hover, .header .search__global--btn:focus {
  color: #90cd4b;
}
.header .search__global--form {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.header .search__global--form a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.header .search__global--form a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}

@media (min-width: 700px) {
  .mobile-nav-toggle {
    display: none;
  }
}
@media (max-width: 699.98px) {
  .mobile-nav-toggle {
    position: absolute;
    background-image: url(../img/assets/menu-b.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    width: 2rem;
    aspect-ratio: 1;
    top: 2rem;
    right: 2rem;
    z-index: 9999;
    cursor: pointer;
    background-color: hsla(0deg, 0%, 0%, 0.815);
    color: rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
  }
  .mobile-nav-toggle:focus, .mobile-nav-toggle:focus-visible {
    background-color: transparent;
    box-sizing: border-box;
    box-shadow: none;
    outline: none;
  }
  .mobile-nav-toggle[aria-expanded=true] {
    background-image: url(../img/assets/close-b.png);
  }
  @supports (backdrop-filter: blur(1rem)) {
    .mobile-nav-toggle {
      background-color: hsla(0deg, 0%, 100%, 0.5);
      color: #333333;
      border-color: #333333;
      backdrop-filter: blur(1rem);
    }
  }
}
.social {
  position: fixed;
  z-index: 998;
  height: 100vh;
  align-content: center;
  top: 50%;
  right: 0;
}
.social__links {
  background: #fff;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.social__links ul {
  display: flex;
  flex-flow: column;
  height: 100%;
  align-items: center;
}
.social__links ul > li {
  width: 2.2em;
  top: 50%;
  margin: 0;
  padding: 0;
}
@media (max-width: 899.98px) {
  .social__links ul > li {
    width: 40px;
  }
}
.social__links ul > li i {
  margin: 0.2em;
  font-size: 30px;
  object-fit: cover;
  -o-object-fit: cover;
  color: #333333;
}
.social__links ul > li i:hover {
  color: rgb(184, 121, 5);
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  gap: 40px;
  margin-inline: auto;
}
@media (min-width: 1024px) {
  .grid {
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
  }
}
.grid__main, .grid__sidebar {
  padding: 40px;
}
.grid__main {
  background-color: inherit;
}
@media (min-width: 1024px) {
  .grid__main {
    display: grid;
    grid-template-columns: auto auto;
  }
}
.grid__main--items h2 {
  color: rgb(184, 121, 5);
}
.grid__main .leader {
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}
@media (max-width: 699.98px) {
  .grid__main .leader {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
  }
}
.grid__main .leader__content {
  margin-bottom: 2em;
  background-color: rgb(255, 255, 255);
  color: #333333;
  border-color: #333333;
  padding: 1em;
  border-radius: 1em;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
@media (min-width: 700px) {
  .grid__main .leader__content {
    width: 15em;
  }
}
@media (min-width: 900px) {
  .grid__main .leader__content {
    width: 14em;
  }
}
@media (min-width: 1024px) {
  .grid__main .leader__content {
    width: 16em;
  }
}
.grid__main .leader__content img {
  width: 70%;
  border-radius: 100%;
}
.grid__main .leader__content h1 {
  font-size: 1.4em;
  font-weight: 600;
  color: #90cd4b;
  line-height: 1.8;
}
.grid__main .leader__content h2 {
  font-size: 0.8em;
  text-transform: uppercase;
  color: rgb(66, 65, 65);
  line-height: 1;
  margin-bottom: 0.5em;
}
.grid__main .leader__content--social > ul {
  display: flex;
  justify-content: center;
  gap: 1em;
}
.grid__main .leader__content--social > ul i {
  font-size: 1.3em;
  color: rgb(184, 121, 5);
}
.grid__main--list {
  margin-bottom: 2em;
  width: 100%;
}
.grid__main--tender {
  background-color: rgb(255, 255, 255);
  color: #333333;
  border-color: #333333;
}
.grid__main--tender .description {
  display: flex;
  flex-direction: column;
  padding: 1em;
  margin-bottom: 2em;
  border-radius: 5px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
.grid__main--tender .description:hover {
  border: 1px solid;
}
.grid__main--tender .description .top {
  display: grid;
  gap: 2em;
  margin-bottom: 1em;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: auto;
}
.grid__main--tender .description .top li {
  margin-block: 0.5em;
}
.grid__main--tender .description .top span {
  font-weight: 700;
}
.grid__main--tender .description .bottom {
  display: flex;
  justify-content: space-between;
}
.grid__main--tender .description .bottom span {
  font-weight: 700;
}
.grid__main--tender .description .bottom .desc-btn a {
  padding: 0.5em 1em;
  text-align: center;
  border: 1px solid;
  border-radius: 5px;
  color: #90cd4b;
  font-weight: 700;
}
.grid__main--tender .description .bottom .desc-btn a:hover {
  color: rgb(184, 121, 5);
}
.grid__main--tender .description .bottom i {
  margin-right: 0.5em;
}
.grid__main .more {
  background-color: #90cd4b;
  color: rgb(255, 255, 255);
  border-color: rgb(255, 255, 255);
  text-align: center;
  margin-left: auto;
  padding: 0.8em;
  border: none;
  max-width: 150px;
  border-radius: 10px;
}
.grid__main .more:hover {
  background-color: transparent;
  border: 1px solid black;
  color: inherit;
}
.grid__main .more a {
  color: inherit;
}
.grid__main--card {
  background-color: rgb(255, 255, 255);
  color: #333333;
  border-color: #333333;
  display: grid;
  grid-template-columns: 3em auto auto;
  grid-template-rows: auto;
  align-items: center;
  gap: 2em;
  border-radius: 10px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 2em;
}
.grid__main--card .icon i {
  font-size: 2.5em;
}
.grid__main--card .description h2 {
  font-size: 1.5em;
  font-weight: 500;
}
.grid__main--card .description ul {
  display: flex;
  justify-content: space-between;
  gap: 2em;
}
.grid__main--card .description ul i {
  margin-inline-end: 5px;
}
.grid__main--card .desc-btn a {
  justify-self: end;
  padding: 0.5em 1em;
  border: 1px solid black;
  border-radius: 5px;
}
.grid__main--card .desc-btn a:hover {
  background-color: #90cd4b;
  color: rgb(255, 255, 255);
  border-color: rgb(255, 255, 255);
  border: none;
}
.grid__main .job__desc--items {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  gap: 2em;
}
.grid__main .job__desc--top-rqm {
  display: grid;
  gap: 0.5em;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  margin-block: 0.5em;
}
.grid__main .job__desc--top-rqm p {
  padding: 0.5em;
}
.grid__main .job__desc--top-rqm p > i {
  margin-inline-end: 0.5em;
  width: 1em;
  aspect-ratio: 1;
}
.grid__main .job__desc--rqm h1 {
  font-weight: 500;
  font-size: 1.3rem;
}
.grid__main .job__desc--rqm ul {
  list-style-type: "→";
  padding: 1em;
  padding-block-start: 0;
}
.grid__main .job__desc--rqm ul > li {
  margin-bottom: 0.5em;
  padding-inline-start: 1em;
}
.grid__main .job__desc--share {
  background-color: rgb(255, 255, 255);
  color: #333333;
  border-color: #333333;
  border-radius: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.grid__main .job__desc--share p {
  padding: 1em;
}
.grid__main .job__desc--share ul {
  display: flex;
  gap: 1em;
  justify-content: end;
  padding: 1em;
}
.grid__main .job__desc--share ul li > a {
  font-size: 20px;
  color: inherit;
}
.grid__main .job__desc--share ul li > a:hover {
  color: #90cd4b;
}
.grid__main .job__desc--qlf ul {
  list-style: number;
  padding: 1em;
}
.grid__main .job__desc--qlf ul li {
  padding-inline-start: 0.5em;
}
.grid__main .job__desc--button {
  text-align: center;
  margin: 2em;
}
.grid__main .job__desc--button a {
  background-color: #90cd4b;
  color: rgb(255, 255, 255);
  border-color: rgb(255, 255, 255);
  padding: 10px 20px;
  border-radius: 0.5em;
}
.grid__main .job__desc--button a:hover {
  background-color: transparent;
  border: 1px solid black;
  color: inherit;
}
.grid__sidebar {
  background-color: rgb(209, 209, 209);
}
.grid__sidebar h1 {
  font-size: 2.4em;
  line-height: 39px;
  font-weight: 300;
  margin-bottom: 20px;
}
.grid__sidebar .recent__news h2 {
  font-weight: 400;
}
.grid__sidebar .recent__news--item a {
  display: grid;
  grid-template-columns: 1fr 3fr;
  width: 100%;
  gap: 1em;
  margin-bottom: 1em;
}
.grid__sidebar .recent__news--item a img {
  width: 100%;
  aspect-ratio: 4/3;
  -o-object-fit: cover;
  object-fit: cover;
}
.grid__sidebar .recent__news--item a h2 {
  font-size: 1.2em;
  font-weight: 500;
  line-height: 1.3;
}
.grid__sidebar .recent__news--item a .info-content {
  font-size: small;
}
.grid__sidebar .recent__news--item a .info-timeLine {
  font-size: x-small;
}

.bloggrid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  gap: 40px;
  margin-inline: auto;
}
@media (min-width: 1024px) {
  .bloggrid {
    grid-template-columns: 3fr 1fr;
    grid-template-rows: auto;
  }
}
.bloggrid__main, .bloggrid__sidebar {
  padding: 1em;
}
.bloggrid__main {
  background-color: inherit;
}
.bloggrid__main--content {
  width: 100%;
}
.bloggrid__main--content h1 {
  font-weight: 700;
  font-size: 1.5em;
  color: #90cd4b;
}
.bloggrid__main--content h3 {
  font-size: 1.2em;
  font-weight: 400;
  text-transform: uppercase;
}
.bloggrid__main--content-img {
  width: 100%;
  height: 40vh;
}
.bloggrid__main--content-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.bloggrid__main--content .social-link ul {
  display: flex;
  gap: 1em;
}
.bloggrid__main--content .social-link ul i {
  font-size: 1.2em;
  color: rgb(184, 121, 5);
}
.bloggrid__main--search {
  width: 100%;
}
.bloggrid__main--search input {
  width: 100%;
  padding-inline-start: 1em;
}
.bloggrid__main .pagination {
  justify-content: center;
}
.bloggrid__main .pagination__btnprev {
  justify-content: start;
}
.bloggrid__main .pagination__btn--next {
  justify-content: end;
}
.bloggrid__sidebar--search {
  width: 100%;
}
.bloggrid__sidebar--search input {
  width: 100%;
  padding-inline-start: 1em;
  background-color: rgb(255, 255, 255);
}
.bloggrid__sidebar--categories h1 {
  font-size: 1.2em;
  font-weight: 700;
  color: rgb(184, 121, 5);
}
.bloggrid__sidebar--categories li {
  list-style: none;
  margin-bottom: 1em;
  font-size: 1.6;
}
.bloggrid__sidebar--categories li a {
  color: inherit;
  padding: 7px 20px;
  border-radius: 4px;
}
.bloggrid__sidebar--categories li a:hover {
  text-decoration: underline;
  color: rgb(184, 121, 5);
  font-weight: 500;
  padding-left: 2em;
}

.mapouter {
  position: relative;
  text-align: right;
  height: 100%;
  width: 100%;
}

.gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 100%;
  width: 100%;
}

.carousel {
  position: relative;
}
.carousel__item {
  height: 80vh;
  background: grey;
  background-size: cover no-repeat;
  font-weight: bold;
  font-size: 2em;
  color: rgb(255, 255, 255);
  display: none;
}
.carousel__item--selected {
  display: block;
}
.carousel__item img {
  -o-object-fit: cover;
  object-fit: cover;
}
.carousel__nav {
  position: absolute;
  width: 100%;
  padding-block: 20px;
  bottom: 0;
  left: 0;
  text-align: center;
}
.carousel__button {
  width: 10px;
  height: 10px;
  display: inline-block;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  margin-inline: 5px;
  cursor: pointer;
}
.carousel__button--selected {
  background: rgba(255, 255, 255, 0.5);
}
.carousel__inner {
  position: absolute;
  background: rgba(12, 12, 12, 0.644);
  height: 100%;
  width: 100%;
  padding: 0;
  padding-inline: 2em;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: left;
}
@media (max-width: 899.98px) {
  .carousel__inner {
    padding-inline: 5px;
  }
}
@media (min-width: 700px) {
  .carousel__inner--content {
    width: 70vw;
  }
}
@media (min-width: 900px) {
  .carousel__inner--content {
    width: 50vw;
  }
}
.carousel__inner--content h1 {
  font-size: 1.5em;
  font-weight: 400;
  margin-bottom: 1em;
  padding-top: 2em;
}
.carousel__inner--content p {
  font-size: 0.7em;
  font-weight: 400;
  margin-bottom: 2em;
}
.carousel__inner--content .action__btn {
  background-color: #90cd4b;
  color: rgb(255, 255, 255);
  border-color: rgb(255, 255, 255);
  padding: 10px 20px;
  font-size: 0.7em;
  font-weight: 400;
  border-radius: 3px;
}

.heading h1 {
  font-size: 2em;
  font-weight: 300;
  text-transform: uppercase;
}

.linebg_1 {
  width: 50px;
  height: 2px;
  background-color: #90cd4b;
  margin-inline: auto;
  margin-top: 10px;
}

.linebg_2 {
  width: 50px;
  height: 2px;
  background-color: #90cd4b;
  margin-inline-start: 5px;
  margin-top: 10px;
}

.paralax {
  background: url(../img/paralax1.jpg) center no-repeat;
  background-position: fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.paralax__inner {
  background-color: rgba(12, 12, 12, 0.644);
  color: rgb(255, 255, 255);
  border-color: rgb(255, 255, 255);
  width: 100%;
  height: 100%;
  padding: 2em;
}
@media (min-width: 1024px) {
  .paralax__inner {
    padding: 3em;
    text-align: center;
  }
}
@media (max-width: 899.98px) {
  .paralax__inner {
    padding: 1em;
  }
}
.paralax__title {
  margin-block: 2em;
}
.paralax__title h1 {
  font-size: 2.5em;
  font-weight: 300;
  padding-block: 0.5em;
  text-transform: uppercase;
}
.paralax__content {
  margin-block: 2em;
  line-height: 1.6em;
  width: 60%;
  margin-inline: auto;
}
@media (max-width: 899.98px) {
  .paralax__content {
    width: 100%;
  }
}
.paralax__content p {
  font-size: 1.2em;
  line-height: 1.6em;
  font-weight: 400;
  padding-block: 0.5em;
}

.latest-post {
  padding: 1em;
  text-align: center;
}
.latest-post h1 {
  font-size: 3em;
  font-weight: 300;
}

.hero {
  background-color: rgb(184, 121, 5);
  color: rgb(255, 255, 255);
  border-color: rgb(255, 255, 255);
  width: 100%;
  height: 20vh;
  z-index: -1;
  overflow: hidden;
}
.hero__title {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.hero__title h1 {
  margin-bottom: 1.5em;
  margin-inline-end: 2em;
  font-size: 1.2em;
  font-weight: 400;
  color: inherit;
}

.patners {
  text-align: center;
}
.patners__list ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2em;
}

.action {
  background: #90cd4b url(http://www.freeimageslive.com/galleries/nature/views/preview/kinder_scout_winter.jpg) no-repeat center center;
  background-size: cover;
}
.action__section {
  background-color: rgba(12, 12, 12, 0.644);
  color: rgb(255, 255, 255);
  border-color: rgb(255, 255, 255);
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline: 2em;
  text-align: center;
}
@media (max-width: 899.98px) {
  .action__section {
    height: 80vh;
  }
}
@media (max-width: 699.98px) {
  .action__section {
    height: 100vh;
  }
}
.action__section--title h1 {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 2em;
  letter-spacing: 0.3em;
}
@media (min-width: 1024px) {
  .action__section--content {
    width: 60vw;
    margin-inline: auto;
  }
}
.action__section--button {
  margin-block: 2em;
}
.action__section--button a {
  background-color: #90cd4b;
  color: rgb(255, 255, 255);
  border-color: rgb(255, 255, 255);
  border: 1px solid rgb(255, 255, 255);
  padding: 10px 20px;
  font-weight: 700;
}
.action__section--button a:hover {
  background-color: rgb(255, 255, 255);
  color: #333333;
  border-color: #333333;
}

.testimonial {
  display: flex;
  gap: 1em;
  justify-content: center;
  align-items: center;
  padding: 1em;
}
@media (max-width: 1023.98px) {
  .testimonial {
    display: grid;
    grid-template-columns: auto;
  }
}
.testimonial__start, .testimonial__end {
  padding: 1em;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.testimonial__start p, .testimonial__end p {
  margin-bottom: 2em;
  font-weight: 500;
}
.testimonial__mid {
  width: 100%;
}
.testimonial__mid img {
  width: 100%;
  border-radius: 10px;
}

.about {
  display: flex;
  width: 100%;
  gap: 2em;
  overflow: hidden;
}
@media (max-width: 1023.98px) {
  .about {
    display: block;
  }
}
.about__title {
  width: 50vw;
  margin-inline: 1em;
  text-align: center;
}
@media (max-width: 1023.98px) {
  .about__title {
    width: 100vw;
  }
}
.about__title h1 {
  font-size: 2.5em;
  font-weight: 700;
}
.about__title h4 {
  font-size: 1.2em;
  font-weight: 400;
  text-transform: uppercase;
}
.about__content {
  width: 50vw;
  padding: 1em;
}
@media (max-width: 1023.98px) {
  .about__content {
    width: 100vw;
    text-align: center;
    padding: 1.5em;
  }
}
.about__content p {
  padding: 1em;
}

.leadership {
  text-align: center;
}
.leadership .leader {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.leadership .leader__content {
  width: 210px;
  margin-inline: 3em;
}
.leadership .leader__content img {
  width: 100%;
  border-radius: 10px;
}
.leadership .leader__content h1 {
  font-size: 1.3em;
  font-weight: 400;
}
.leadership .leader__content h2 {
  font-size: 0.9em;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 0;
  line-height: 1;
  color: grey;
}
.leadership .leader__content--social {
  display: block;
  text-align: center;
}
.leadership .leader__content--social ul {
  display: flex;
  justify-content: center;
  column-gap: 1em;
}
.leadership .leader__content--social ul li i {
  font-size: 1.5em;
  color: rgb(184, 121, 5);
}
.leadership .leader__content--social ul li i:hover {
  transform: scale(1.3);
  transition: transform 200ms ease-in-out;
}

.services-hero {
  background-color: rgb(66, 65, 65);
  color: rgb(255, 255, 255);
  border-color: rgb(255, 255, 255);
  background-image: url(https://scontent.fnbo2-1.fna.fbcdn.net/v/t39.30808-6/241544940_106931548396585_5615892500045863732_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=e3f864&_nc_ohc=LNxBu9Ai0R0AX87jh4A&_nc_ht=scontent.fnbo2-1.fna&oh=00_AT9-pHdyNpkKil8wx0QU_TmaYGWl21ZXCAa3G4OA5uBjVw&oe=62BE35D0);
  background-size: cover;
  background-repeat: repeat;
  background-position: center center;
  padding: 1em;
}
@media (min-width: 900px) {
  .services-hero {
    padding-inline: 2em;
  }
}
@media (min-width: 900px) {
  .services-hero__title, .services-hero__inner {
    margin-left: 20vw;
  }
}
@media (min-width: 900px) {
  .services-hero__title {
    padding-left: 6em;
  }
}
.services-hero__title h1 {
  text-transform: uppercase;
  color: #90cd4b;
  font-weight: 600;
  font-size: 2em;
  line-height: 1;
}
.services-hero__title h2 {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 2.3em;
  line-height: 1;
}
.services-hero__inner {
  display: block;
}
@media (min-width: 900px) {
  .services-hero__inner {
    display: flex;
    gap: 2em;
  }
}
.services-hero__inner--card {
  background-color: rgb(255, 255, 255);
  color: #333333;
  border-color: #333333;
  border-top: 3px solid #90cd4b;
  padding: 1em;
  margin-bottom: 2em;
}
.services-hero__inner--card h1 {
  font-size: 1.1em;
  font-weight: 600;
  text-transform: uppercase;
}
.services-hero__inner--card a {
  text-transform: uppercase;
  font-size: 0.8em;
  color: #90cd4b;
  font-weight: 500;
}
.services-hero__inner--card a:hover {
  color: rgb(184, 121, 5);
  font-weight: 600;
  font-size: 0.9em;
}

.services {
  text-align: center;
}
.services__inner {
  text-align: left;
}
.services__inner--section {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
}
@media (min-width: 900px) {
  .services__inner--section {
    grid-template-columns: auto auto;
    grid-template-rows: auto;
  }
}
.services__inner--section-img {
  width: 100%;
}
.services__inner--section-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}
.services__inner--section .section-info {
  background-color: rgb(66, 65, 65);
  color: rgb(255, 255, 255);
  border-color: rgb(255, 255, 255);
  height: 100%;
  padding: 2.5em;
}
.services__inner--section-info {
  width: 100%;
  align-items: center;
  margin-bottom: 2em;
}
.services__inner--section-info h2 {
  font-size: 1.3em;
  font-weight: 600;
  text-transform: uppercase;
  color: #90cd4b;
}
.services__inner--section-info p {
  font-size: 1.2em;
  font-weight: 500;
}

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-inline: 4em;
  gap: 1em;
}
@media (max-width: 1023.98px) {
  .contact {
    display: block;
    margin-inline: 2em;
  }
}
@media (max-width: 899.98px) {
  .contact {
    margin-inline: 0;
  }
}
.contact__form {
  background-color: rgb(255, 255, 255);
  color: #333333;
  border-color: #333333;
  padding: 2em;
  width: 50vw;
}
@media (max-width: 1023.98px) {
  .contact__form {
    width: 100%;
  }
}
.contact__form input,
.contact__form textarea {
  width: 100%;
  padding-left: 1em;
}
.contact__map {
  width: 50vw;
}
@media (max-width: 1023.98px) {
  .contact__map {
    width: 100%;
  }
}
@media (max-width: 899.98px) {
  .contact__map .mapouter {
    margin-top: 0;
  }
}
.contact__map .mapouter .gmap_canvas iframe {
  height: 500px;
}
.contact__address {
  width: 100%;
  text-align: center;
  margin-top: 2em;
  margin-bottom: 3em;
}
.contact__address ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 2em;
  padding: 1em;
}
.contact__address ul i {
  font-size: 2em;
  margin-bottom: 1em;
  color: rgb(184, 121, 5);
}

footer {
  background-color: #90cd4b;
  color: rgb(255, 255, 255);
  border-color: rgb(255, 255, 255);
}
footer .footer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  gap: 40px;
  margin-inline: auto;
}
@media (min-width: 1024px) {
  footer .footer {
    grid-template-columns: 1fr 6fr;
    grid-template-rows: auto;
  }
}
@media (max-width: 1023.98px) {
  footer .footer {
    gap: 0;
  }
}
footer .footer__logo {
  width: 100%;
  display: table;
  text-align: center;
  align-items: center;
  margin-block: 2em;
}
footer .footer__logo--content {
  display: table-cell;
  align-items: center;
}
footer .footer__logo img {
  width: 100px;
}
footer .footer__content {
  margin-block: 2em;
  text-align: center;
}
@media (min-width: 900px) {
  footer .footer__content {
    display: grid;
    grid-template-columns: auto auto;
    text-align: left;
    padding-inline: 1em;
  }
}
@media (min-width: 1024px) {
  footer .footer__content {
    display: grid;
    gap: 2em;
    grid-template-columns: auto auto auto auto;
  }
}
footer .footer__content--item {
  margin-bottom: 2em;
}
footer .footer__content--item a {
  color: inherit;
}
footer .footer__content--item .opinion-poll form {
  display: flex;
  flex-direction: column;
}
footer .footer__content--item form input {
  background-color: rgb(255, 255, 255);
  color: #333333;
  border-color: #333333;
  padding-inline: 10px;
}
footer .copyright {
  text-align: center;
  padding-block: 1em;
}

#preloader {
  background: #fff;
  background-image: url(../img/assets/bar.gif);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 35em;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 99999;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

@supports (display: grid) {
  .cards {
    display: grid;
    grid-column-gap: 1rem;
    grid-row-gap: 0rem;
    grid-template-columns: 1fr;
    justify-content: center;
  }
  @media (min-width: 700px) {
    .cards {
      grid-template-columns: repeat(auto-fit, minmax(20rem, 20rem));
    }
  }
}
.cards .card {
  display: flex;
  margin-top: 1.5rem;
  flex-direction: column;
  border: 2px solid rgba(23, 11, 41, 0.12);
  border-radius: 6px;
  background-color: inherit;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
.cards .card:hover {
  border: 1px solid #333333;
  transform: scale(1.05);
  transition: transform 200ms ease-in-out;
}
.cards .card .meta__creators:before {
  content: "•";
  padding-right: 5px;
  color: grey;
}
.cards .card__img {
  position: relative;
}
.cards .card__img .img__cover {
  height: 11rem;
}
.cards .card__img .img__profile {
  height: 5rem;
  width: 5rem;
  display: none;
  position: absolute;
  bottom: -1.6em;
  left: 1em;
}
.cards .card__img .img__profile img {
  border-radius: 10px;
  border: 3px solid #fff;
}
.cards .card__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.cards .card__text {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  -webkit-box-ordinal-group: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 1rem;
}
.cards .card__text > * + * {
  margin-top: 1rem;
}
.cards .card__text > :last-child {
  margin-top: auto;
  padding-top: 0.75rem;
}
.cards .card__text abbr {
  border-bottom-width: 1px;
  border-bottom-style: dotted;
}
.cards .card__text p {
  max-width: 50ch;
  font-weight: 400;
  font-size: 0.8em;
  color: grey;
}
.cards .card__text small {
  display: block;
  font-size: 0.9em;
  font-weight: 400;
}
.cards .card__text h2 {
  font-size: 0.9em;
  width: 100%;
  margin-top: 1.4rem;
}
.cards .card__text h2 a {
  text-decoration: none;
}

.chat-bar-collapsible {
  position: fixed;
  bottom: 0;
  right: 50px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 999;
}

.collapsible {
  background-color: #90cd4b;
  color: rgb(255, 255, 255);
  border-color: rgb(255, 255, 255);
  cursor: pointer;
  padding: 18px;
  width: 350px;
  text-align: left;
  outline: none;
  font-size: 18px;
  border-radius: 10px 10px 0px 0px;
  border: 3px solid white;
  border-bottom: none;
}

.content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
}

.full-chat-block {
  background-color: rgb(255, 255, 255);
  color: #333333;
  border-color: #333333;
  width: 350px;
  text-align: center;
  overflow: auto;
  scrollbar-width: none;
  height: max-content;
  transition: max-height 0.2s ease-out;
}

.outer-container {
  min-height: 500px;
  bottom: 0%;
  position: relative;
}

.chat-container {
  max-height: 500px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  scroll-behavior: smooth;
  hyphens: auto;
}
.chat-container::-webkit-scrollbar {
  display: none;
}

.chat-bar-input-block {
  display: flex;
  float: left;
  box-sizing: border-box;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  background-color: rgb(235, 235, 235);
  border-radius: 10px 10px 0px 0px;
  padding: 10px 0px 10px 10px;
}

.chat-bar-icons {
  display: flex;
  justify-content: space-evenly;
  box-sizing: border-box;
  width: 25%;
  float: right;
  font-size: 20px;
}

#chat-icon:hover {
  opacity: 0.7;
}

/* Chat bubbles */
#userInput {
  width: 75%;
}

#userInput > input {
  background-color: white;
  border: none;
}

.input-box {
  float: left;
  border: none;
  box-sizing: border-box;
  width: 100%;
  border-radius: 25px;
  padding: 10px;
  font-size: 16px;
  color: #000;
  background-color: white;
  outline: none;
}

.botText,
.userText {
  margin-block: 1em;
  font-weight: normal;
  font-size: 16px;
}
.botText span,
.userText span {
  line-height: 1.5em;
  display: inline-block;
  padding: 10px;
  border-radius: 25px;
  max-width: 80%;
  animation: floatup 0.5s forwards;
}

.userText {
  text-align: right;
  clear: both;
}
.userText span {
  background-color: #90cd4b;
  color: rgb(255, 255, 255);
  border-color: rgb(255, 255, 255);
  border-bottom-right-radius: 2px;
  margin-right: 10px;
}

.botText {
  text-align: left;
}
.botText span {
  background: #e0e0e0;
  border-bottom-left-radius: 2px;
  margin-left: 10px;
}

@keyframes floatup {
  from {
    transform: translateY(14px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
@media (max-width: 699.98px) {
  .full-chat-block {
    width: 100%;
    border-radius: 0px;
  }
  .chat-bar-collapsible {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
  }
  .collapsible {
    width: 100%;
    border: 0px;
    border-top: 3px solid white;
    border-radius: 0px;
  }
}
.accordion {
  background-color: rgb(255, 255, 255);
  color: #333333;
  border-color: #333333;
  max-width: 100%;
  margin: 50px auto;
  border-top: 6px solid #90cd4b;
  line-height: 1.6;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
.accordion__item {
  border-bottom: 1px solid #dce7eb;
}
.accordion__title {
  padding: 15px 15px 15px 40px;
  display: block;
  position: relative;
  font-weight: 400;
}
.accordion__title:before {
  font-family: FontAwesome;
  content: "\f055";
  font-size: 20px;
  position: absolute;
  left: 15px;
  top: 12px;
  color: #90cd4b;
}
.accordion__title h5 {
  border-bottom: 1px solid #fefffa;
  display: inline-block;
}
.accordion__title:hover, .accordion__title:focus {
  cursor: pointer;
  outline: none;
}
.accordion__title:hover h5, .accordion__title:focus h5 {
  border-bottom-color: #a8bdc4;
  display: inline-block;
}
.is-expanded .accordion__title:before {
  content: "\f056";
}
.accordion__content-inner {
  padding: 0 40px 10px 40px;
}
.accordion__content {
  transition: height 0.3s ease-out;
  height: 0;
  overflow: hidden;
}

.tabs {
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-inline: auto;
  margin-block: 1em;
}
.tabs__head {
  display: flex;
  align-items: center;
  justify-content: center;
}
.tabs__toggle {
  display: flex;
  padding: 0.5em 3em;
  align-items: center;
  border-radius: 30px;
  justify-content: center;
  background-color: #ddd9d9;
  cursor: pointer;
  margin-left: -30px;
}
.tabs__toggle:first-child {
  margin-left: 0;
}
.tabs__toggle.is-active {
  background-color: #90cd4b;
  color: rgb(255, 255, 255);
  border-color: rgb(255, 255, 255);
  z-index: 10;
}
.tabs__content {
  padding: 1em;
  display: none;
}
.tabs__content.is-active {
  display: block;
}
.tabs__media--container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.tabs__media--container .img,
.tabs__media--container .video {
  height: 13rem;
  width: 20rem;
  margin: 1rem;
  border-radius: 5px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}
.tabs__media--container .img img,
.tabs__media--container .img video,
.tabs__media--container .video img,
.tabs__media--container .video video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  outline: none;
  border: none;
}
.tabs__media--container .img img:hover,
.tabs__media--container .img video:hover,
.tabs__media--container .video img:hover,
.tabs__media--container .video video:hover {
  transform: scale(1.3);
  transition: transform 500ms ease-in-out;
}
.tabs__media--container .img img.active,
.tabs__media--container .img video.active,
.tabs__media--container .video img.active,
.tabs__media--container .video video.active {
  position: fixed;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  height: auto;
  width: 80%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 10;
}

.full__media--image {
  width: 100%;
  height: 100vh;
  position: fixed;
  display: none;
  background: rgba(0, 0, 0, 0.7803921569);
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}
@supports (backdrop-filter: blur(1rem)) {
  .full__media--image {
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(1rem);
  }
}
.full__media--image video,
.full__media--image img {
  width: 90%;
  max-width: 700px;
}
.full__media--image span {
  position: absolute;
  top: 5%;
  right: 5%;
  font-size: 30px;
  color: #fff;
  cursor: pointer;
}
.full__media--image span:hover {
  color: #90cd4b;
}

.modal {
  padding: 1em;
  min-width: 320px;
  max-width: 70ch;
  border: 0;
  margin: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
.modal h1 {
  font-weight: 400;
  font-size: 1.7em;
}
.modal::backdrop {
  background-color: rgba(0, 0, 0, 0.7);
}
@supports (backdrop-filter: blur(1rem)) {
  .modal::backdrop {
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(1rem);
  }
}
.modal > * {
  margin: 0 0 0.5rem 0;
}
.modal form {
  width: 100%;
}
.modal form input,
.modal form textarea {
  width: 100%;
  padding-left: 1em;
}
.modal .close-button {
  position: absolute;
  top: 0;
  right: 0;
  margin: 1em;
  font-size: 1.2em;
  background-color: transparent;
  border: none;
  height: 24px;
  aspect-ratio: 1;
}
.modal .close-button:hover {
  background-color: rgb(184, 121, 5);
  color: rgb(255, 255, 255);
  border-color: rgb(255, 255, 255);
  border-radius: 100%;
}

.publication {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 1em;
}
.publication__sidenav {
  border-right: 1px solid rgb(66, 65, 65);
}
.publication__sidenav input {
  margin-block: unset;
  background-color: rgb(255, 255, 255);
  padding: 0.5em;
  border-radius: 20px;
}
.publication__main {
  padding: 1em;
}
.publication__main--item a {
  color: rgb(184, 121, 5);
}
.publication__main--item a:hover {
  color: #90cd4b;
  text-decoration-line: underline;
}
.publication__main--item li {
  list-style: number;
}

#back-to-top {
  position: fixed;
  z-index: 1010;
  right: 10px;
  bottom: 20px;
  width: 40px;
  height: 40px;
  background-color: #000;
  color: #fafafa;
  font-size: 30px;
  text-align: center;
  text-decoration: none;
  opacity: 0.5;
  cursor: pointer;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
#back-to-top i {
  font-size: 24px;
  line-height: 40px;
  font-weight: normal;
  vertical-align: top;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
#back-to-top:hover i {
  color: #fff;
}
#back-to-top:hover {
  border-radius: 10px;
}
#back-to-top.visible {
  right: 40px;
}
#back-to-top.gone {
  right: -40px;
}