{% extends 'base.html' %}
{% load static %}
{% block title %} About {% endblock title %}

{% block body %}
<section class="hero">
    <div class="hero__title">
        <h1>Home / About Us</h1>
    </div>
</section>

<setion class="about mt-3 mb-3">
    <div class="about__title mt-2">
        <h1>About Us</h1>
        <h4>Who are we</h4>
    </div>
    <div class="about__content">
        {% for content in about_us %}
        <p>{{content.description | safe}}</p>
        {% endfor %}
    </div>

</setion>

<section class="paralax paralax__about">
    <div class="paralax__inner">
        {% for statement in mission %}
        <div class="paralax__title">
            <h1>{{ statement.title }}</h1>
        </div>
        <div class="paralax__content">
             <p>{{ statement.statement | safe }}</p>
        </div>
       {% endfor %}
    </div>
</section>


<section class="leadership mt-2">

    <div class="heading mb-3" >
        <h1>Our leadership</h1>
        <div class="linebg_1"></div>
    </div>
    

    <div class="leader mt-3 mb-3">
        {% for leader in leader %}
        <div class="leader__content ">
            <img src="{{ leader.image.url }}" alt="">
            <h1>{{ leader.first_name}} {{ leader.middle_name}} {{ leader.last_name}}</h1>
            <h2>{{leader.position}}</h2>
        </div>
        {% endfor %}

        
</section>

{% include 'section/cta_panel.html' %}


{% endblock body %}