{% extends 'base.html' %}
{% load static %}
{% block title %} About {% endblock title %}

{% block body %}
<section class="hero">
    <div class="hero__title">
        <h1>Home / About Us</h1>
    </div>
</section>

<setion class="about mt-3 mb-3">
    <div class="about__title mt-2">
        <h1>About Us</h1>
        <h4>Who are we</h4>
    </div>
    <div class="about__content">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil maxime ea facilis culpa quidem expedita, eligendi debitis error ipsum dolores obcaecati! Nulla ex aut repellendus necessitatibus error? Tempora facere quibusdam vero mollitia dolorem beatae culpa magnam, hic ducimus voluptate, architecto accusantium enim laudantium eaque blanditiis, consequuntur voluptatibus. Non dolorum nulla illum minima quod rem impedit, nam dolore quas consequatur quisquam odio libero doloribus itaque ipsam animi neque sint eum distinctio eaque ducimus iste! Nobis quibusdam impedit accusamus delectus beatae animi, ipsam nesciunt quae atque? Consequatur dolores quas officiis laborum pariatur enim fugit magni vero itaque ipsa maxime ex, repellat voluptatum.</p>
    </div>

</setion>

<section class="paralax paralax__about">
    <div class="paralax__inner">
        <div class="paralax__title">
            <h1>our mission</h1>
        </div>
        <div class="paralax__content">
             <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore excepturi impedit explicabo deserunt praesentium! Quasi, non. Fuga atque quo iusto harum quidem delectus vero qui tempore, minus eligendi, iure eveniet!</p>
        </div>
       
    </div>
</section>


<section class="leadership mt-2">

    <div class="heading mb-3" >
        <h1>Our leadership</h1>
        <div class="linebg_1"></div>
    </div>
    

    <div class="leader mt-3 mb-3">
        <div class="leader__content ">
            <img src="https://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50?s=200" alt="">
            <h1>John Doe</h1>
            <h2>Position</h2>
            <div class="leader__content--social mt-1">
                <ul>
                    <li><a href=""><i class="fa-brands fa-facebook-square"></i></a></li>
                    <li><a href=""><i class="fa-brands fa-twitter"></i></a></li>
                    <li><a href=""><i class="fa-brands fa-linkedin"></i></a></li>
                </ul>
            </div>
        </div>

        <div class="leader__content ">
            <img src="https://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50?s=200" alt="">
            <h1>John Doe</h1>
            <h2>Position</h2>
            <div class="leader__content--social mt-1">
                <ul>
                    <li><a href=""><i class="fa-brands fa-facebook-square"></i></a></li>
                    <li><a href=""><i class="fa-brands fa-twitter"></i></a></li>
                    <li><a href=""><i class="fa-brands fa-linkedin"></i></a></li>
                </ul>
            </div>
        </div>

        <div class="leader__content ">
            <img src="https://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50?s=200" alt="">
            <h1>John Doe</h1>
            <h2>Position</h2>
            <div class="leader__content--social mt-1">
                <ul>
                    <li><a href=""><i class="fa-brands fa-facebook-square"></i></a></li>
                    <li><a href=""><i class="fa-brands fa-twitter"></i></a></li>
                    <li><a href=""><i class="fa-brands fa-linkedin"></i></a></li>
                </ul>
            </div>
        </div>

        <div class="leader__content ">
            <img src="https://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50?s=200" alt="">
            <h1>John Doe</h1>
            <h2>Position</h2>
            <div class="leader__content--social mt-1">
                <ul>
                    <li><a href=""><i class="fa-brands fa-facebook-square"></i></a></li>
                    <li><a href=""><i class="fa-brands fa-twitter"></i></a></li>
                    <li><a href=""><i class="fa-brands fa-linkedin"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="action">
    <div class="action__section ">
        <div class="action__section--inner">
            <div class="action__section--title mb-2">
                <h1>Our Sand , Our Water, Our Livelihood</h1>
            </div>
            <div class="action__section--content">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora maiores, iste, voluptatum quas eaque
                    molestias impedit harum maxime amet cum rerum perspiciatis officiis corrupti voluptate nihil adipisci,
                    sapiente saepe eius beatae dolorem tenetur odio. Quo nostrum facilis accusamus aliquid possimus.</p>
            </div>
            <div class="action__section--button">
                <a href="">Join the Action &rarr;</a>
            </div>
        </div>
    </div>
</section>


{% endblock body %}