
    <h1>A Future Where People & Nature Thrive</h1>
    <p>As an organization we are keen on sustainable conservation and utilization of sand within Makueni County. We enhance community’s knowledge on importance of environmental protection and sustainable sand utilization through public barazas and partner other organizations in construction of sand dams. Makueni County has an effective framework to oversee sand activities thus serves as a case study for how other counties can ameliorate illegal sand harvesting.</p>
    <hr class="my-1">


    <div class="bloggrid__sidebar--categories">
        <h1>Quick Links</h1>

        <ul class="Category__list">
            <li><a href="{% url 'tender' %}">TENDER &raquo;</a></li>
            <li><a href="{% url 'career' %}">Career/Vacancies &raquo;</a></li>
            <li><a href="{% url 'faq' %}">FAQs &raquo;</a></li>
            <li><a href="{% url 'post' %}">Articles &raquo;</a></li>
        </ul>
    </div>

    <hr class="my-1">

    <div class="recent__news">
        <h2>Recent Articles</h2>
        <div class="linebg_2 mb-1"></div>
        {% for post in post%}
        <div class="recent__news--item">
            <a href="{% url 'post_detail' post.slug %}">
                <img src="{{ post.image.url }}"
                    alt="">
                <div class="info">
                    <h2>{{ post.title }}</h2>
                    <p class="info-timeLine">{{ post.created_on | date }}</p>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>