{% extends 'base.html' %}
{% load static %}
{% block title %} Board of Directors {% endblock title %}

{% block body %}
<section class="hero">
    <div class="hero__title">
        <h1>Board of Directors</h1>
    </div>
</section>

<div class="grid">
    <main class="grid__main">
        <div class="grid__main--item">
            <div class="heading mb-3">
                <h1>Board of Directors</h1>
                <div class="linebg_2"></div>
            </div>

            <div class="leader mt-3 mb-3">
                <div class="leader__content ">
                    <img src="{{ chair.image.url }}" alt="profile picture">
                    <h2>{{ chair.position }}</h2>
                    <h1>{{ chair.first_name }} {{ chair.middle_name }} {{ chair.last_name }}</h1>
                    <p>{{ chair.description | safe }}</p>

                </div>
                {% for bm in board_members %}
                <div class="leader__content ">
                    <img src="{{ bm.image.url }}" alt="profile picture">
                    <h2>{{ bm.position }}</h2>
                    <h1>{{ bm.first_name }} {{ bm.middle_name }} {{ bm.last_name }}</h1>
                    <p>{{ bm.description | safe }}</p>
                </div>
                {% endfor %}
            </div>
        </div>
    </main>
    <aside class="grid__sidebar">
        {% include 'aside.html' %}
    </aside>
</div>


{% endblock body %}