{% extends 'base.html' %}
{% load static %}
{% block title %} career information {% endblock title %}

{% block body %}
<section class="hero">
    <div class="hero__title">
        <h1>Home / Job Description</h1>
    </div>
</section>
<div class="grid">
    <main class="grid__main">
        <div class="grid__main-job">
            <div class="job__desc">
                <h1>Junior Developer</h1>
                <p><span>Job ID:</span> J-DSC/2022/01/005A</p>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloribus impedit voluptatum voluptas sit
                    esse. Doloribus modi quod ducimus quos nulla?</p>
                <div class="job__desc--top-rqm">
                    <p><i class="fa-solid fa-location-dot"></i>Location: Nairobi</p>
                    <p><i class="fa-solid fa-clock"></i>Post Date: 3 Days ago</p>
                    <p><i class="fa-solid fa-briefcase"></i>Job Type: Part Time</p>
                    <p><i class="fa-solid fa-money-bill-1"></i>Salary:  N/A</p>
                </div>
                <div class="job__desc--items">
                    <div class="job__desc--rqm">
                        <h1>Responsibilities</h1>
                        <ul>
                            <li>Lorem ipsum dolor sit amet.</li>
                            <li>Lorem ipsum dolor sit amet.</li>
                            <li>Lorem ipsum dolor sit amet.</li>
                            <li>Lorem ipsum dolor sit amet.</li>
                            <li>Lorem ipsum dolor sit amet.</li>
                            <li>Lorem ipsum dolor sit amet.</li>
                            <li>Lorem ipsum dolor sit amet.</li>
                        </ul>
                    </div>
                    <div class="job__desc--rqm">
                        <h1>Why work with us</h1>
                        <ul>
                            <li>Lorem ipsum dolor sit amet.</li>
                            <li>Lorem ipsum dolor sit amet.</li>
                            <li>Lorem ipsum dolor sit amet.</li>
                            <li>Lorem ipsum dolor sit amet.</li>
                            <li>Lorem ipsum dolor sit amet.</li>
                            <li>Lorem ipsum dolor sit amet.</li>
                            <li>Lorem ipsum dolor sit amet.</li>
                        </ul>
                    </div>

                </div>
                <div class="job__desc--qlf">
                    <h3>Qualification</h3>
                    <ul>
                        <li>Lorem ipsum dolor sit amet consectetur adipisicing Lorem, ipsum.</li>
                        <li>Lorem ipsum dolor sit amet consectetur adipisicing Lorem, ipsum.</li>
                        <li>Lorem ipsum dolor sit amet consectetur adipisicing Lorem, ipsum.</li>
                        <li>Lorem ipsum dolor sit amet consectetur adipisicing Lorem, ipsum.</li>
                        <li>Lorem ipsum dolor sit amet consectetur adipisicing Lorem, ipsum.</li>
                        <li>Lorem ipsum dolor sit amet consectetur adipisicing Lorem, ipsum.</li>
                        <li>Lorem ipsum dolor sit amet consectetur adipisicing Lorem, ipsum.</li>
                        <li>Lorem ipsum dolor sit amet consectetur adipisicing Lorem, ipsum.</li>
                    </ul>
                </div>
                <div class="job__desc--button">
                    <a href="">Apply</a>
                </div>
                <div class="job__desc--share">
                    <p>Share this vacancy:</p>
                    <ul>
                        <li><a href=""><i class="fa-brands fa-facebook"></i></a></li>
                        <li><a href=""><i class="fa-brands fa-twitter"></i></a></li>
                        <li><a href=""><i class="fa-brands fa-whatsapp"></i></a></li>
                        <li><a href=""><i class="fa-brands fa-linkedin-in"></i></a></li>
                        <li><a href=""><i class="fa-brands fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>

    </main>
    <aside class="grid__sidebar">
        <h1>A Future Where People & Nature Thrive</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rem quae, rerum praesentium odit cupiditate alias
            porro culpa minima possimus, sint corporis, sunt doloribus obcaecati nulla? Quod soluta doloremque numquam
            molestias!</p>'
        <hr class="my-1">

        <div class="recent__news">
            <h2>Recent Articles</h2>
            <div class="linebg_2 mb-1"></div>
            <div class="recent__news--item">
                <a href="{% url 'post-detail'%}">
                    <img src="https://images.unsplash.com/photo-1518005020951-eccb494ad742?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=900&q=60"
                        alt="">
                    <div class="info">
                        <h2>Lorem ipsum dolor sit amet.</h2>
                        <p class="info-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam,
                            distinctio!</p>
                        <p class="info-timeLine">3 Days Ago</p>
                    </div>
                </a>
            </div>
            <div class="recent__news--item">
                <a href="{% url 'post-detail'%}">
                    <img src="https://images.unsplash.com/photo-1518005020951-eccb494ad742?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=900&q=60"
                        alt="">
                    <div class="info">
                        <h2>Lorem ipsum dolor sit amet.</h2>
                        <p class="info-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam,
                            distinctio!</p>
                        <p class="info-timeLine">3 Days Ago</p>
                    </div>
                </a>
            </div>
            <div class="recent__news--item">
                <a href="{% url 'post-detail'%}">
                    <img src="https://images.unsplash.com/photo-1518005020951-eccb494ad742?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=900&q=60"
                        alt="">
                    <div class="info">
                        <h2>Lorem ipsum dolor sit amet.</h2>
                        <p class="info-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam,
                            distinctio!</p>
                        <p class="info-timeLine">3 Days Ago</p>
                    </div>
                </a>
            </div>
            <div class="recent__news--item">
                <a href="{% url 'post-detail'%}">
                    <img src="https://images.unsplash.com/photo-1518005020951-eccb494ad742?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=900&q=60"
                        alt="">
                    <div class="info">
                        <h2>Lorem ipsum dolor sit amet.</h2>
                        <p class="info-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam,
                            distinctio!</p>
                        <p class="info-timeLine">3 Days Ago</p>
                    </div>
                </a>
            </div>
            <div class="recent__news--item">
                <a href="{% url 'post-detail'%}">
                    <img src="https://images.unsplash.com/photo-1518005020951-eccb494ad742?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=900&q=60"
                        alt="">
                    <div class="info">
                        <h2>Lorem ipsum dolor sit amet.</h2>
                        <p class="info-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam,
                            distinctio!</p>
                        <p class="info-timeLine">3 Days Ago</p>
                    </div>
                </a>
            </div>

        </div>
    </aside>
</div>
{% endblock body %}