{% extends 'about-layout.html' %}
{% load static %}
{% block title %} Mission, vision & Core Values  {% endblock title %}
{% block hero %} Mission, vision & Core Values {% endblock hero %}
{% block about %}

<setion class="about mt-3 mb-3">
    
    <div class="about__content">
        <div class="about__content--inner">
            <div class="item">
                {% for statement in mission %}

                <h1>{{ statement.title }}</h1>

                <p>{{ statement.statement | safe }}</p>

                {% endfor %}
            </div>
            
            <div class="item">
                {% for statement in vision %}

                <h1>{{ statement.title }}</h1>

                <p>{{ statement.statement | safe }}</p>

                {% endfor %}
            </div>
            <div class="item">
                {% for statement in core_values %}

                <h1>{{ statement.title }}</h1>

                <p>{{ statement.statement | safe }}</p>

                {% endfor %}
            </div>
            
        </div>
    </div>

</setion>


{% endblock about %}