{% extends 'base.html' %}
{% load static %}
{% block title %} Departments {% endblock title %}

{% block body %}
<section class="hero">
    <div class="hero__title">
        <h1>Departments</h1>
    </div>
</section>
<div class="grid">
    <main class="grid__main">
        <div class="grid__main--item">
            <div class="heading mb-3">
                <h1>Departments</h1>
                <div class="linebg_2"></div>
            </div>
            
            {% if dept %}
            {% for dept in dept %}
            <div class="department">
                <div class="department__title">
                    <h2>{{ dept.title }}</h2>
                </div>
                <div class="department__content">
                    {{ dept.content | safe }}
                </div>
            </div>
            {% endfor %}
            {% else %}
            <p>The data will be in soon...</p>
            {% endif %}

        </div>

    </main>

    <aside class="grid__sidebar">
        {% include 'aside.html' %}
    </aside>
</div>

{% endblock body %}