{% extends 'base.html' %}
{% load static %}
{% block title %} Departments {% endblock title %}

{% block body %}
<section class="hero">
    <div class="hero__title">
        <h1>Home / Departments</h1>
    </div>
</section>
<div class="grid">
    <main class="grid__main">
        <div class="grid__main--item">
            <div class="heading mb-3">
                <h1>Departments</h1>
                <div class="linebg_2"></div>
            </div>

            <!-- Accordion 1 -->
            <section class="accordion" role="tablist" aria-live="polite" data-behavior="accordion">

                <article class="accordion__item js-show-item-default" data-binding="expand-accordion-item">
                    <span id="tab1" tabindex="0" class="accordion__title" aria-controls="panel1" role="tab"
                        aria-selected="false" aria-expanded="false" data-binding="expand-accordion-trigger">
                        <h5>Department 1</h5>
                    </span>

                    <div id="panel1" class="accordion__content" role="tabpanel" aria-hidden="true"
                        aria-labelledby="tab1" data-binding="expand-accordion-container">
                        <div class="accordion__content-inner">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur sunt officiis ab sit, id cupiditate dolor quae exercitationem hic quo architecto possimus pariatur dignissimos eius esse suscipit soluta aliquid, animi harum rerum nulla quos eveniet quod! Facilis, repellendus? Minima, quod.</p>
                        </div>
                    </div>

                </article>

            </section>

        </div>

    </main>
    
    <aside class="grid__sidebar">
        {% include 'aside.html' %}
    </aside>
</div>

{% endblock body %}