{% extends 'base.html' %}
{% load static %}
{% block title %} Departments {% endblock title %}

{% block body %}
<section class="hero">
    <div class="hero__title">
        <h1>Home / Departments</h1>
    </div>
</section>
<div class="grid">
    <main class="grid__main">
        <div class="grid__main--item">
            <div class="heading mb-3">
                <h1>Departments</h1>
                <div class="linebg_2"></div>
            </div>

            <!-- Accordion 1 -->
            <section class="accordion" role="tablist" aria-live="polite" data-behavior="accordion">

                <article class="accordion__item js-show-item-default" data-binding="expand-accordion-item">
                    <span id="tab1" tabindex="0" class="accordion__title" aria-controls="panel1" role="tab"
                        aria-selected="false" aria-expanded="false" data-binding="expand-accordion-trigger">
                        <h5>Department 1</h5>
                    </span>

                    <div id="panel1" class="accordion__content" role="tabpanel" aria-hidden="true"
                        aria-labelledby="tab1" data-binding="expand-accordion-container">
                        <div class="accordion__content-inner">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur sunt officiis ab sit, id cupiditate dolor quae exercitationem hic quo architecto possimus pariatur dignissimos eius esse suscipit soluta aliquid, animi harum rerum nulla quos eveniet quod! Facilis, repellendus? Minima, quod.</p>
                        </div>
                    </div>

                </article>

                <article class="accordion__item js-show-item-default" data-binding="expand-accordion-item">
                    <span id="tab2" tabindex="0" class="accordion__title" aria-controls="panel2" role="tab"
                        aria-selected="false" aria-expanded="false" data-binding="expand-accordion-trigger">
                        <h5>Department 2</h5>
                    </span>

                    <div id="panel2" class="accordion__content" role="tabpanel" aria-hidden="true"
                        aria-labelledby="tab2" data-binding="expand-accordion-container">
                        <div class="accordion__content-inner">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, laboriosam autem eos incidunt dolores similique aperiam magnam repellendus quaerat culpa mollitia atque quia aliquam maxime ipsum amet? Sint animi possimus ipsa, quas, officiis perferendis voluptate tempora ullam, non id at mollitia quasi placeat deleniti quo. Vitae officiis nisi illo fugiat! Ipsam vel cum, saepe aliquid dolore corporis deserunt esse dolores eveniet voluptates iusto id suscipit consequatur non delectus repellat unde.</p>
                        </div>
                    </div>
                </article>

                <article class="accordion__item js-show-item-default" data-binding="expand-accordion-item">
                    <span id="tab3" tabindex="0" class="accordion__title" aria-controls="panel3" role="tab"
                        aria-selected="false" aria-expanded="false" data-binding="expand-accordion-trigger">
                        <h5>Department 3</h5>
                    </span>

                    <div id="panel3" class="accordion__content" role="tabpanel" aria-hidden="true"
                        aria-labelledby="tab3" data-binding="expand-accordion-container">
                        <div class="accordion__content-inner">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus odio, nemo voluptate eveniet accusamus esse numquam ex assumenda modi tenetur quaerat aperiam inventore expedita aliquam a sequi culpa dolore quas.</p>
                        </div>
                    </div>
                </article>

                <article class="accordion__item js-show-item-default" data-binding="expand-accordion-item">
                    <span id="tab4" tabindex="0" class="accordion__title" aria-controls="panel4" role="tab"
                        aria-selected="false" aria-expanded="false" data-binding="expand-accordion-trigger">
                        <h5>Department 4</h5>
                    </span>

                    <div id="panel4" class="accordion__content" role="tabpanel" aria-hidden="true"
                        aria-labelledby="tab4" data-binding="expand-accordion-container">
                        <div class="accordion__content-inner">
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Esse repellat magni neque repudiandae illum ipsum ut ipsa fuga iure voluptatibus id, aperiam incidunt ducimus consequuntur rem facere repellendus magnam dolore rerum animi porro. Dolorem provident porro inventore fuga quos molestiae libero numquam, dolorum iusto, maxime cum! Voluptatum ratione est perspiciatis.</p>
                        </div>
                    </div>
                </article>

            </section>

            <!-- Accordion 2 -->
            <section class="accordion" role="tablist" aria-live="polite" data-behavior="accordion">
                <article class="accordion__item js-show-item-default" data-binding="expand-accordion-item">
                    <span id="tab5" tabindex="0" class="accordion__title" aria-controls="panel5" role="tab"
                        aria-selected="false" aria-expanded="false" data-binding="expand-accordion-trigger">
                        <h5>Heading 1</h5>
                    </span>

                    <div id="panel5" class="accordion__content" role="tabpanel" aria-hidden="true"
                        aria-labelledby="tab5" data-binding="expand-accordion-container">
                        <div class="accordion__content-inner">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti nobis iusto at libero quas ipsum dignissimos amet officiis quo esse vel adipisci maiores exercitationem, tempora voluptatem inventore aut earum nisi, dolorum praesentium ducimus. Delectus harum molestiae illum iste! Odit ad, nesciunt vero asperiores veniam totam ratione impedit et eius nam.</p>
                        </div>
                    </div>

                </article>

                <article class="accordion__item js-show-item-default" data-binding="expand-accordion-item">
                    <span id="tab6" tabindex="0" class="accordion__title" aria-controls="panel6" role="tab"
                        aria-selected="false" aria-expanded="false" data-binding="expand-accordion-trigger">
                        <h5>Heading 2</h5>
                    </span>

                    <div id="panel6" class="accordion__content" role="tabpanel" aria-hidden="true"
                        aria-labelledby="tab6" data-binding="expand-accordion-container">
                        <div class="accordion__content-inner">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero et perferendis rem eveniet doloremque aliquid, distinctio quia repellendus maiores eos blanditiis animi, dolorem, voluptatem deserunt! Illum mollitia esse quos id iure! Quod necessitatibus repudiandae rerum distinctio ratione architecto ipsa deserunt nesciunt qui ea aut, deleniti odio odit? Saepe architecto id ea eos? A doloribus blanditiis tempore omnis laborum, itaque rerum!</p>
                        </div>
                    </div>
                </article>

            </section>
        </div>

    </main>
    <aside class="grid__sidebar">
        <h1>A Future Where People & Nature Thrive</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus sunt fuga, officia odio nesciunt asperiores.</p>
        <hr class="my-1">


        <div class="bloggrid__sidebar--categories">
            <h1>Quick Links</h1>

            <ul class="Category__list">
                <li><a href="">TENDER &raquo;</a></li>
                <li><a href="{% url 'career' %}">Career/Vacancies &raquo;</a></li>
                <li><a href="">FAQs &raquo;</a></li>
                <li><a href="">Feedback form &raquo;</a></li>
                <li><a href="">Downloads &raquo;</a></li>
                <li><a href="{% url 'post' %}">Articles &raquo;</a></li>
            </ul>
        </div>

        <hr class="my-1">

        <div class="recent__news">
            <h2>Recent Articles</h2>
            <div class="linebg_2 mb-1"></div>
            <div class="recent__news--item">
                <a href="{% url 'post-detail'%}">
                    <img src="https://images.unsplash.com/photo-1518005020951-eccb494ad742?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=900&q=60"
                        alt="">
                    <div class="info">
                        <h2>Lorem ipsum dolor sit amet.</h2>
                        <p class="info-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam,
                            distinctio!</p>
                        <p class="info-timeLine">3 Days Ago</p>
                    </div>
                </a>
            </div>
            <div class="recent__news--item">
                <a href="{% url 'post-detail'%}">
                    <img src="https://images.unsplash.com/photo-1518005020951-eccb494ad742?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=900&q=60"
                        alt="">
                    <div class="info">
                        <h2>Lorem ipsum dolor sit amet.</h2>
                        <p class="info-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam,
                            distinctio!</p>
                        <p class="info-timeLine">3 Days Ago</p>
                    </div>
                </a>
            </div>
            <div class="recent__news--item">
                <a href="{% url 'post-detail'%}">
                    <img src="https://images.unsplash.com/photo-1518005020951-eccb494ad742?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=900&q=60"
                        alt="">
                    <div class="info">
                        <h2>Lorem ipsum dolor sit amet.</h2>
                        <p class="info-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam,
                            distinctio!</p>
                        <p class="info-timeLine">3 Days Ago</p>
                    </div>
                </a>
            </div>
            <div class="recent__news--item">
                <a href="{% url 'post-detail'%}">
                    <img src="https://images.unsplash.com/photo-1518005020951-eccb494ad742?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=900&q=60"
                        alt="">
                    <div class="info">
                        <h2>Lorem ipsum dolor sit amet.</h2>
                        <p class="info-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam,
                            distinctio!</p>
                        <p class="info-timeLine">3 Days Ago</p>
                    </div>
                </a>
            </div>
            <div class="recent__news--item">
                <a href="{% url 'post-detail'%}">
                    <img src="https://images.unsplash.com/photo-1518005020951-eccb494ad742?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=900&q=60"
                        alt="">
                    <div class="info">
                        <h2>Lorem ipsum dolor sit amet.</h2>
                        <p class="info-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam,
                            distinctio!</p>
                        <p class="info-timeLine">3 Days Ago</p>
                    </div>
                </a>
            </div>

        </div>
    </aside>
</div>


{% endblock body %}