{% extends 'about-layout.html' %}
{% load static %}
{% block title %} Our Mandate & Functions {% endblock title %}

{% block hero %} Our Mandate & Functions {% endblock hero %}
{% block about %}

<setion class="about mt-1 mb-3">
    <div class="about__content">
        <div class="inner">
            {% for statement in functions %}
            
            <div>
                {{statement.content | safe }}
            </div>
        
            {% endfor %}
        
        </div>

    </div>

</setion>


{% endblock about %}

{% include 'section/cta_panel.html' %}