{% extends 'base.html' %}
{% load static %}
{% block title %} Message from the MD {% endblock title %}

{% block body %}
<style>
    @import url('https://fonts.googleapis.com/css2?family=Square+Peg&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Dawning+of+a+New+Day&display=swap');
</style>
<section class="hero">
    <div class="hero__title">
        <h1>Home / About Us / Message from the Managing Director</h1>
    </div>
</section>

<div class="grid">
    <main class="grid__main">
        <div class="grid__main--item">
            <div class="heading mb-2">
                <h1>Managing Director</h1>
                <div class="linebg_2"></div>
            </div>
            {% for message in message %}
            <div class="message-container">
                <p class="mb-1">Dear Reader, <br></p>
                <p>{{ message.message|safe }}
                </p>
                <div class="md-info mt-2">
                    <!-- <div class="signature my-1">
                        <p style="font-family:'Dawning of a New Day', cursive; font-size: 3em;">{{message.name_of_md}}</p>
                    </div> -->
                    <h3>{{message.name_of_md}}</h3>
                    <p>{{message.position}}</p>
                </div>
            </div>
            {% endfor %}

        </div>

    </main>
    <aside class="grid__sidebar">
        {% include 'aside.html' %}
    </aside>
</div>


{% endblock body %}