{% extends 'about-layout.html' %}
{% load static %}
{% block title %} Service Charter{% endblock title %}

{% block hero %} Service Charter {% endblock hero %}
{% block about %}

<setion class="about mt-3 mb-3">
    <div class="about__content">
        <div class="inner">
            {% if charter %}
            {% for charter in charter %}
            
            <div>
            
                {{ charter.content | safe }}
            
            </div>
            
            {% endfor %}
            {% else %}
                <p>The data will be in soon...</p>
            {% endif %}
        </div>
    </div>

</setion>


{% endblock about %}