{% extends 'about-layout.html' %}
{% load static %}
{% block title %} Service Charter{% endblock title %}

{% block hero %} Service Charter {% endblock hero %}
{% block about %}

<setion class="about mt-3 mb-3">
    <div class="about__content">
        <div class="inner">
            {% if charter %}
            {% for charter in charter %}
            <div class="iframe">
                <div class="iframe__card">
                    <div class="iframe__card--icon">
                        <a href="{{ charter.file.url }}" download="" target="_blank" title="Download File">
                            <img src="{% static 'img/assets/pdf-icon.ico'%}" alt="">
                        </a>
                    </div>
                    <div class="iframe__card--content">
                        <h2>{{ charter.title }}</h2>
                        <a href="{{ charter.file.url }}" download="{{ charter.title }}"> Download </a>
                    </div>
                </div>
                <iframe src="{{ charter.file.url }}"  allowFullScreen>
                </iframe>
            </div>
            
            {% endfor %}
            {% else %}
                <p>The data will be in soon...</p>
            {% endif %}
        </div>
    </div>

</setion>


{% endblock about %}