{% extends 'about-layout.html' %}
{% load static %}
{% block title %} Strategic plan{% endblock title %}

{% block hero %} Strategic plan {% endblock hero %}
{% block about %}

<setion class="about mt-3 mb-3">
    <div class="about__content">
        <div class="inner">

            

            {% for object in objectives %}
            <div class="iframe">
                <div class="iframe__card">
                    <div class="iframe__card--icon">
                        <a href="{{ object.file.url }}" download="" target="_blank" title="Download File">
                            <img src="{% static 'img/assets/pdf-icon.ico'%}" alt="">
                        </a>
                    </div>
                    <div class="iframe__card--content">
                        <h2>{{object.title}}</h2>
                        <a href="{{ object.file.url }}" download="{{object.title}}"> Download </a>
                    </div>
                </div>
                <iframe src="{{ object.file.url }}"  allowFullScreen>
                </iframe>
            </div>
           
    
            
            {% endfor %}
            
        </div>
    </div>

</setion>


{% endblock about %}