{% extends 'about-layout.html' %}
{% load static %}
{% block title %} Strategic plan{% endblock title %}

{% block hero %} Strategic plan {% endblock hero %}
{% block about %}

<setion class="about mt-3 mb-3">
    <div class="about__content">
        <div class="inner">

            

            {% for object in objectives %}
           
            <iframe src="{{ object.file.url }}" width="70%" height="800" style="border: none;" allowFullScreen>
            </iframe>
    
            
            {% endfor %}
            
        </div>
    </div>

</setion>


{% endblock about %}