{% extends 'base.html' %}
{% load static %}
{% block title %} Team {% endblock title %}

{% block body %}
<section class="hero">
    <div class="hero__title">
        <h1>Home / About Us / Boad of Directors</h1>
    </div>
</section>

<div class="grid">
    <main class="grid__main">
        <div class="grid__main--item">
            <div class="heading mb-3">
                <h1>Board of Directors</h1>
                <div class="linebg_2"></div>
            </div>

            <div class="leader mt-3 mb-3">
                <div class="leader__content ">
                    <img src="https://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50?s=200" alt="">
                    <h2>Position</h2>
                    <h1>John Doe</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi cupiditate modi ullam, architecto quas debitis?</p>
                    
                </div>

                
            </div>
            
        </div>

    </main>
    <aside class="grid__sidebar">
        {% include 'aside.html' %}
    </aside>
</div>


{% endblock body %}