{% extends 'base.html' %}
{% load static %}
{% block title %} Services {% endblock title %}

{% block body %}
<section class="hero">
    <div class="hero__title">
        <h1>Home / Services</h1>
    </div>
</section>

<div class="services-hero">
    <div class="services-hero__title my-2">
        <h1>Join Us</h1>
        <h2>Lorem ipsum dolor sit amet.
        </h2>
    </div>

    <div class="services-hero__inner">
        <div class="services-hero__inner--card">
            <h1>Lorem, ipsum dolor.</h1>
            <div class="linebg_2 mb-1"></div>
            <p class="mb-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste excepturi ea velit delectus
                repellat
                tenetur voluptates suscipit optio blanditiis fugit.</p>
            <a href="">Read More &rarr;</a>
        </div>

        <div class="services-hero__inner--card">
            <h1>Lorem, ipsum dolor.</h1>
            <div class="linebg_2 mb-1"></div>
            <p class="mb-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste excepturi ea velit delectus
                repellat
                tenetur voluptates suscipit optio blanditiis fugit.</p>
            <a href="">Read More &rarr;</a>
        </div>

        <div class="services-hero__inner--card">
            <h1>Lorem, ipsum dolor.</h1>
            <div class="linebg_2 mb-1"></div>
            <p class="mb-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste excepturi ea velit delectus
                repellat
                tenetur voluptates suscipit optio blanditiis fugit.</p>
            <a href="">Read More &rarr;</a>
        </div>

        <div class="services-hero__inner--card">
            <h1>Lorem, ipsum dolor.</h1>
            <div class="linebg_2 mb-1"></div>
            <p class="mb-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste excepturi ea velit delectus
                repellat
                tenetur voluptates suscipit optio blanditiis fugit.</p>
            <a href="">Read More &rarr;</a>
        </div>

        <div class="services-hero__inner--card">
            <h1>Lorem, ipsum dolor.</h1>
            <div class="linebg_2 mb-1"></div>
            <p class="mb-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste excepturi ea velit delectus
                repellat
                tenetur voluptates suscipit optio blanditiis fugit.</p>
            <a href="">Read More &rarr;</a>
        </div>

        <div class="services-hero__inner--card">
            <h1>Lorem, ipsum dolor.</h1>
            <div class="linebg_2 mb-1"></div>
            <p class="mb-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste excepturi ea velit delectus
                repellat
                tenetur voluptates suscipit optio blanditiis fugit.</p>
            <a href="">Read More &rarr;</a>
        </div>

        <div class="services-hero__inner--card">
            <h1>Lorem, ipsum dolor.</h1>
            <div class="linebg_2 mb-1"></div>
            <p class="mb-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste excepturi ea velit delectus
                repellat
                tenetur voluptates suscipit optio blanditiis fugit.</p>
            <a href="">Read More &rarr;</a>
        </div>

    </div>
</div>

<div class="services mb-2">
    <div class="heading mb-2 mt-3">
        <h1>What we offer</h1>
        <div class="linebg_1 mb-1"></div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, tempora.</p>
    </div>
    <div class="services__inner">
        <div class="services__inner--section">
            <div class="services__inner--section-img">
                <img src="{% static 'img/service-1.jpg' %}" alt="">
            </div>
            <div class="section-info">
                <div class="services__inner--section-info">
                    <h2>Supervise & Coordinate</h2>
                    <div class="linebg_2 mb-1"></div>
                    <p>Supervise and coordinate all matters relating to sand conservation and utilization in the County.
                    </p>
                </div>

                <div class="services__inner--section-info">
                    <h2>Policies</h2>
                    <div class="linebg_2 mb-1 "></div>
                    <p>Promote the integration of sand related environmental consideration into development policies,
                        plans, programmers and projects</p>
                </div>

                <div class="services__inner--section-info">
                    <h2>research, Investigation & Surveys</h2>
                    <div class="linebg_2 mb-1"></div>
                    <p>Undertake and co-ordinate research, investigation and surveys in the field of Sand Conservation
                        and utilization, and collect, collate and disseminate findings.</p>
                </div>

                <div class="services__inner--section-info">
                    <h2>Rehabilitation</h2>
                    <div class="linebg_2 mb-1"></div>
                    <p>Ensure rehabilitation of the sand harvested sites and other environmental damage associated with
                        harvesting and transportation of sand within the County.</p>
                </div>

                <div class="services__inner--section-info">
                    <h2>Licensing & Registration</h2>
                    <div class="linebg_2 mb-1"></div>
                    <p>Licensing and registration of all persons who wish to engage in any sand utilization activities.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>


<section class="action">
    <div class="action__section ">
        <div class="action__section--inner">
            <div class="action__section--title mb-2">
                <h1>Our Sand , Our Water, Our Livelihood</h1>
            </div>
            <div class="action__section--content">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora maiores, iste, voluptatum quas eaque
                    molestias impedit harum maxime amet cum rerum perspiciatis officiis corrupti voluptate nihil
                    adipisci,
                    sapiente saepe eius beatae dolorem tenetur odio. Quo nostrum facilis accusamus aliquid possimus.</p>
            </div>
            <div class="action__section--button">
                <a href="">Join the Action &rarr;</a>
            </div>
        </div>
    </div>
</section>

{% endblock body %}