{% extends 'base.html' %}
{% load static %}
{% block title %} FAQs {% endblock title %}

{% block body %}
<section class="hero">
    <div class="hero__title">
        <h1>Home / FAQs</h1>
    </div>
</section>
<div class="grid">
    <main class="grid__main">
        <div class="grid__main--item">
            <div class="heading mb-3">
                <h1>Frequently Asked Questions</h1>
                <div class="linebg_2"></div>
            </div>

            <!-- Accordion 1 -->
            <section class="accordion" role="tablist" aria-live="polite" data-behavior="accordion">
                {% for faq in faq %}
                <article class="accordion__item js-show-item-default" data-binding="expand-accordion-item">
                    <span id="tab1" tabindex="0" class="accordion__title" aria-controls="panel1" role="tab"
                        aria-selected="false" aria-expanded="false" data-binding="expand-accordion-trigger">
                        <h5>{{faq.question}}</h5>
                    </span>

                    <div id="panel1" class="accordion__content" role="tabpanel" aria-hidden="true"
                        aria-labelledby="tab1" data-binding="expand-accordion-container">
                        <div class="accordion__content-inner">
                            <p>{{faq.answer | safe }}</p>
                        </div>
                    </div>

                </article>
                {% endfor %}
               

            </section>
        </div>

    </main>
    <aside class="grid__sidebar">
        {% include 'aside.html' %}
    </aside>
</div>


{% endblock body %}