{% extends 'base.html' %}
{% load static %}
{% block title %} Publications {% endblock title %}

{% block body %}
<section class="hero">
    <div class="hero__title">
        <h1>Home / Downloads & Publications</h1>
    </div>
</section>

<div class="grid">
    <main class="grid__main">
        <div class="grid__main--item">
            <div class="heading mb-3">
                <h1>Downloads & Publications</h1>
                <div class="linebg_2"></div>
            </div>
            <div class="grid__main--list">
                <div class="publication">
                    <div class="publication__sidenav">
                        <form action="">
                            <input type="search" placeholder="Search">
                        </form>
                        <h4 class="my-1">years</h4>
                        <ul>
                            <li><a href="">2022</a></li>
                        </ul>
                        

                    </div>
                    <div class="publication__main">
                        <div class="publication__main--item">
                            <h3 class="mb-1">Downloads</h3>
                            <ol>
                                {% for pub in pub %}
                                <li>
                                    <a href="{% static '{{ pub.file.url }}' %}" download="">{{ pub.name }}</a>
                                </li>                             
                                {% endfor %}
                            </ol>
                        </div>
                    </div>
                </div>

            </div>
            
        </div>

    </main>
    <aside class="grid__sidebar">
        {% include 'aside.html' %}
    </aside>
</div>

{% endblock body %}