{% extends 'base.html' %}
{% load static %}
{% block title %} Publications {% endblock title %}

{% block body %}
<section class="hero">
    <div class="hero__title">
        <h1>Home / Downloads & Publications</h1>
    </div>
</section>

<div class="grid">
    <main class="grid__main">
        <div class="grid__main--item">
            <div class="heading mb-3">
                <h1>Downloads & Publications</h1>
                <div class="linebg_2"></div>
            </div>
            <div class="grid__main--list">
                <div class="publication">
                    <div class="publication__sidenav">
                        <form action="">
                            <input type="search" placeholder="Search">
                        </form>
                        <h4 class="my-1">years</h4>
                        <ul>
                            <li><a href="">2019</a></li>
                            <li><a href="">2020</a></li>
                            <li><a href="">2021</a></li>
                            <li><a href="">2022</a></li>
                        </ul>
                        <h4 class="my-1">category</h4>
                        <ul>
                            <li><a href="">Speeches</a></li>
                            <li><a href="">Publications</a></li>
                            <li><a href="">Public forms</a></li>
                        </ul>

                    </div>
                    <div class="publication__main">
                        <div class="publication__main--item">
                            <h3 class="mb-1">2022</h3>
                            <ol>
                                <li>
                                    <a href="{% static 'img/logo1.png' %}" download="">logo.png</a>
                                </li>
                                <li>
                                    <a href="{% static 'img/logo1.png' %}" download="">Appliction-form.pdf</a>
                                </li>
                                <li>
                                    <a href="{% static 'img/logo1.png' %}" download="">Feedback-form.pdf</a>
                                </li>
                                <li>
                                    <a href="{% static 'img/logo1.png' %}" download="">sand-harvesting-form.pdf</a>
                                </li>
                                
                                
                            </ol>
                        </div>
                    </div>
                </div>

            </div>
            
        </div>

    </main>
    <aside class="grid__sidebar">
        {% include 'aside.html' %}
    </aside>
</div>

{% endblock body %}