{% extends 'base.html' %}
{% load static %}
{% block title %} Terms Of Service {% endblock title %}

{% block body %}

<div class="grid">
    <main class="grid__main">
        <div class="grid__main--item">
            <div class="heading mb-3">
                <h1>Terms of service</h1>
                <div class="linebg_2"></div>
            </div>
            <div class="grid__main--list">
                {% for content in terms %}

                <div>
                    {{ content.content | safe}}
                </div>
                <div class="file">
                    <a href="{{ content.file.url }}" download="" target="_blank">Download File <i
                            class="las la-file-pdf"></i> </a>
                </div>

                {% endfor %}

            </div>

        </div>

    </main>
    <aside class="grid__sidebar">
        {% include 'aside.html' %}
    </aside>
</div>

{% endblock body %}