{% extends 'base.html' %}
{% load static %}
{% block title %} Projects {% endblock title %}

{% block body %}
<section class="hero">
    <div class="hero__title">
        <h1>Home / Projects</h1>
    </div>
</section>

<setion class="about mt-3 mb-3">
    <div class="about__title mt-2">
        <h1>Our Projects</h1>
        <h4>What we've done</h4>
    </div>
    <div class="about__content">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil maxime ea facilis culpa quidem expedita, eligendi debitis error ipsum dolores obcaecati! Nulla ex aut repellendus necessitatibus error? Tempora facere quibusdam vero mollitia dolorem beatae culpa magnam, hic ducimus voluptate, architecto accusantium enim laudantium eaque blanditiis, consequuntur voluptatibus. Non dolorum nulla illum minima quod rem impedit, nam dolore quas consequatur quisquam odio libero doloribus itaque ipsam animi neque sint eum distinctio eaque ducimus iste! Nobis quibusdam impedit accusamus delectus beatae animi, ipsam nesciunt quae atque? Consequatur dolores quas officiis laborum pariatur enim fugit magni vero itaque ipsa maxime ex, repellat voluptatum.</p>
    </div>

</setion>


<section class="action">
    <div class="action__section ">
        <div class="action__section--inner">
            <div class="action__section--title mb-2">
                <h1>Our Sand , Our Water, Our Livelihood</h1>
            </div>
            <div class="action__section--content">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora maiores, iste, voluptatum quas eaque
                    molestias impedit harum maxime amet cum rerum perspiciatis officiis corrupti voluptate nihil adipisci,
                    sapiente saepe eius beatae dolorem tenetur odio. Quo nostrum facilis accusamus aliquid possimus.</p>
            </div>
            <div class="action__section--button">
                <a href="">Join the Action &rarr;</a>
            </div>
        </div>
    </div>
</section>


{% endblock body %}