{% extends 'base.html' %}
{% load static %}

{% block body %}
<section class="hero">
    <div class="hero__title">
        <h1>Home / Projects / {{ project_category_in.category }}</h1>
    </div>
</section>

<div class="projects">
    <div class="heading mb-2 mt-2">
        <h1>{% block title %} {{ project_category_in.category }} {% endblock title %}</h1>
        <div class="linebg_1"></div>
    </div>


    <div class="projects__inner">
        {% for list in projects %}
        <div class="projects__inner--item">

            <img src="{{ list.image.url }}" alt="">
            <div class="projects__inner--content">

                <h2>
                    {{list.title}}
                </h2>
                <p>
                    {{list.description | safe | truncatewords_html:20 }}
                </p>
                <a href="{% url 'project-detail' list.slug %}">Read more &rarr;</a>
            </div>
        </div>


        {% endfor %}
    </div>
    <div class="">
        {% if is_paginated %}
        <div class="pagination">

            <div class="nav-links">

                {% if page_obj.has_previous %}
                <a class="page-numbers" href="?page=1">&laquo; First</a>
                <a class="page-numbers" href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}

                <a class="page-numbers current" href="?page={{ page_obj.current_page_number }}"> Page
                    {{ page_obj.number}} of {{page_obj.paginator.num_pages}} </a>

                {% if page_obj.has_next %}
                <a class="page-numbers" href="?page={{ page_obj.next_page_number }}">Next &raquo;</a>
                <a class="page-numbers" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                {% else %}
                <a class="page-numbers current" href="?page={{ page_obj.paginator.num_pages }}">Last </a>
                {% endif %}
            </div>

        </div>
        {% endif %}
    </div>


</div>







{% include 'section/cta_panel.html' %}


{% endblock body %}


{% for post in projects %}
<p>{{post.title}}</p>
{% endfor %}

{% for ct in all_categs %}
<div>
    <div> <a href="{{ ct.category.id }}">{{ct.category}}</a></div>
    {% for post in ct.postcategory.all %}
    <p> {{post.title}} </p>

    {% endfor %}
</div>
{% endfor %}



{% regroup object_list by category as post_list %}

<ul>
    {% for post_category in post_list %}
    <li>{{ post_category.grouper }}
        <ul>
            {% for post in post_category.list %}
            <li>{{ post.title }}</li>
            {% endfor %}
        </ul>
    </li>
    {% endfor %}
</ul>