// screen sizes (700px, 900px, 1440px)

$breakpoints_up: (
    "small": 700px,
    "medium": 900px,
    "large": 1024px,
    "xlarge": 1440px
);

// screen sizes (699.98px, 899.98px, 1439.98px)

$breakpoints_down: (
    'xx-small': 524.99px,
    "x-small": 699.98px,
    "xsmall": 699.98px,
    "small": 899.98px,
    "medium":1023.98px,
    "large": 1439.98px,
    'custom': 1100px,
);

@mixin breakpoint($size) {
    @media (min-width: map-get($breakpoints_up, $size)) {
        @content;
    }
}

@mixin breakpoint-down($size) {
    @media (max-width: map-get($breakpoints_down, $size)) {
        @content;
    }
}