// Margin and padding classes
$space_sizes:(1,2,3,4,5);

@each $space in $space_sizes {
    .m-#{$space}{
        margin: #{$space}rem;
    }
    .my-#{$space}{
        margin: #{$space}rem 0;
    }

    .mx-#{$space}{
        margin: 0 #{$space}rem;
    }

    .mt-#{$space}{
        margin-top:  #{$space}rem;
    }

    .mb-#{$space}{
        margin-bottom: #{$space}rem;
    }
    
    .p-#{$space}{
        padding: #{$space}rem;
    }
    .py-#{$space}{
        padding: #{$space}rem 0;
    }

    .px-#{$space}{
        padding: 0 #{$space}rem;
    }

    .pt-#{$space}{
        padding-top: #{$space}rem;
    }

    .pb-#{$space}{
        padding-bottom: #{$space}rem;
    }
}

