{% extends 'base.html' %}
{% load static %}
{% block title %} Gallery {% endblock title %}

{% block body %}
<section class="hero">
    <div class="hero__title">
        <h1>Home / Gallery</h1>
    </div>
</section>


<div class="tabs">
    <div class="tabs__head">
        <span class="tabs__toggle is-active">Images</span>
        <span class="tabs__toggle">Videos</span>
        
    </div>
    <div class="tabs__body">
        <div class="tabs__content is-active">
            <div class="tabs__media--container">
                
                <div class="img">
                    <img src="https://makueni-sa.S3.amazonaws.com/img/slide4.png" alt="" onclick="openFullMedia(this.src)">
                </div>
                
                <div class="img">
                    <img src="https://makueni-sa.S3.amazonaws.com/img/slide5.webp" alt="" onclick="openFullMedia(this.src)">
                </div>
                
                <div class="img">
                    <img src="https://makueni-sa.S3.amazonaws.com/img/slide6.webp" alt="" onclick="openFullMedia(this.src)">
                </div>
                
                <div class="img">
                    <img src="https://makueni-sa.S3.amazonaws.com/img/slide4.png" alt="" onclick="openFullMedia(this.src)">
                </div>
                
                <div class="img">
                    <img src="https://makueni-sa.S3.amazonaws.com/img/slide4.png" alt="" onclick="openFullMedia(this.src)">
                </div>
                
                <div class="img">
                    <img src="https://makueni-sa.S3.amazonaws.com/img/slide4.png" alt="" onclick="openFullMedia(this.src)">
                </div>
                
                <div class="img">
                    <img src="https://makueni-sa.S3.amazonaws.com/img/slide6.webp" alt="" onclick="openFullMedia(this.src)">
                </div>
                
                <div class="img">
                    <img src="https://makueni-sa.S3.amazonaws.com/img/slide4.png" alt="" onclick="openFullMedia(this.src)">
                </div>
                
                <div class="img">
                    <img src="https://makueni-sa.S3.amazonaws.com/img/slide5.webp" alt="" onclick="openFullMedia(this.src)">
                </div>
                
            </div>
            <!-- full image prieview -->
            <div class="full__media--image" id="fullMediaBox">

                <img src="https://makueni-sa.S3.amazonaws.com/img/slide5.webp" alt="" id="fullMedia">
                <span onclick="closeFullMedia()"><i class="fa-solid fa-xmark"></i></span>
           </div>
        </div>

        <div class="tabs__content">
            <div class="tabs__media--container">
                <div class="video">
                    <video src="https://makueni-sa.S3.amazonaws.com/img/vid-1.mp4"  onclick="openFullVideo(this.src)"></video>
                </div>
                <div class="video">
                    <video src="https://makueni-sa.S3.amazonaws.com/img/vid-2.mp4"  onclick="openFullVideo(this.src)"></video>
                </div>
                <div class="video">
                    <video src="https://makueni-sa.S3.amazonaws.com/img/vid-1.mp4"  onclick="openFullVideo(this.src)"></video>
                </div>
                <div class="video">
                    <video src="https://makueni-sa.S3.amazonaws.com/img/vid-2.mp4"  onclick="openFullVideo(this.src)"></video>
                </div>
            </div>

            <!-- Full Video preview -->
            <div class="full__media--image" id="fullVideoBox">
    
                <video src="https://makueni-sa.S3.amazonaws.com/img/vid-1.mp4" id="fullMedia" controls></video>
                <span onclick="closeFullVideo()"><i class="fa-solid fa-xmark"></i></span>
           </div>
        </div>

        
    </div>
</div>
<script>
    var fullMediaBox = document.getElementById("fullMediaBox");
    var fullMedia = document.getElementById("fullMedia");
    var fullVideoBox = document.getElementById('fullVideoBox')

    function openFullMedia(pic){
        fullMediaBox.style.display = 'flex';
        fullMedia.src = pic;
    }

    function openFullVideo(vid){
        fullVideoBox.style.display = 'flex';
        fullMedia.src = vid;
    }

    function closeFullMedia(){
        fullMediaBox.style.display = 'none';
    }

    function closeFullVideo(){
        fullVideoBox.style.display = 'none';
    }

    
</script>
{% endblock body %}