{% extends 'base.html' %}
{% load static %}
{% block title %} Gallery {% endblock title %}

{% block body %}
<section class="hero">
    <div class="hero__title">
        <h1>Home / Gallery</h1>
    </div>
</section>


<div class="tabs">
    <div class="tabs__head">
        <span class="tabs__toggle is-active">Images</span>
        <span class="tabs__toggle">Videos</span>
        
    </div>
    <div class="tabs__body">
        <div class="tabs__content is-active">
            <div class="tabs__media--container">
                
                <div class="img">
                    <img src="https://makueni-sa.S3.amazonaws.com/img/slide4.png" alt="">
                </div>
                
                <div class="img">
                    <img src="https://makueni-sa.S3.amazonaws.com/img/slide4.png" alt="">
                </div>
                
                <div class="img">
                    <img src="https://makueni-sa.S3.amazonaws.com/img/slide4.png" alt="">
                </div>
                
                <div class="img">
                    <img src="https://makueni-sa.S3.amazonaws.com/img/slide4.png" alt="">
                </div>
                
                <div class="img">
                    <img src="https://makueni-sa.S3.amazonaws.com/img/slide4.png" alt="">
                </div>
                
                <div class="img">
                    <img src="https://makueni-sa.S3.amazonaws.com/img/slide4.png" alt="">
                </div>
                
                <div class="img">
                    <img src="https://makueni-sa.S3.amazonaws.com/img/slide4.png" alt="">
                </div>
                
                <div class="img">
                    <img src="https://makueni-sa.S3.amazonaws.com/img/slide4.png" alt="">
                </div>
                
                <div class="img">
                    <img src="https://makueni-sa.S3.amazonaws.com/img/slide4.png" alt="">
                </div>
                
            </div>
        </div>

        <div class="tabs__content">
            <div class="tabs__media--container">
                <div class="video">
                    <video src="https://www.youtube.com/watch?v=YjzcfPax4As&ab_channel=SandDamsWorldwide"></video>
                </div>
            </div>
        </div>
       >
        
    </div>
</div>
<script>
    var video = document.querySelectorAll('video');
    var image = document.querySelectorAll('img');

    video.forEach(play => play.addEventListener('click'), () =>{
        play.classList.toggle('active');
    });

    image.forEach(show => show.addEventListener('click'), () =>{
        show.classList.toggle('active');
    });

    
</script>
{% endblock body %}