@use 'utils' as u;
@import 'globals';




// back to top

#back-to-top {
    position: fixed;
    z-index: 1010;
    right: 10px;
    bottom: 60px;
    width: 40px;
    height: 40px;
    background-color: #000;
    color: #fafafa;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    opacity: 0.5;
    cursor: pointer;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;

    

    i {
        font-size: 24px;
        line-height: 40px;
        font-weight: normal;
        vertical-align: top;
        -webkit-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s;

        &:hover {
            color: #fff;
        }
    }

    div{
        font-size: 13px;
        opacity: 1;
        color: #000;

        &:hover{
            color: $secondary_color;
        }
    }


    &:hover {
        border-radius: 50%;
        background-color: $secondary_color;
        opacity: 1;
    }

    &.visible {
        right: 40px;
    }
}