$white : rgb(255, 255, 255);
$light_color : rgb(244, 244, 244);
$dark_color : rgb(66, 65, 65);
$black:#333333;
$dark_color_fade : rgba(12, 12, 12, 0.644);
$header_bg_light : hsla(0, 0%, 100%, 0.5);
$header_bg_dark : hsla(0, 0%, 0%, 0.815);
$primary_color: #90cd4b;
$primary_color_dark: #80b445;
$primary_color_darker: #719e3e;
$secondary_color: #762403;
$secondary_color_fade: rgba(118, 36, 4, 0.4);
$color-shadow: rgba(23, 11, 41, 0.12);
$color-grey: rgba(183, 192, 199, 0.1);
$fade:rgb(248, 248, 248);
