.full {
    &__media {
        &--image {
            width: 100%;
            height: 100vh;
            position: fixed;
            display: none;
            background: #000000c7;
            top: 0;
            left: 0;
            align-items: center;
            justify-content: center;
            z-index: 9999;
            flex-flow: column;

            .caption{
                background-color: white;
                padding: 0.5em 1em;
                margin-top: 0.5em;
                max-width: 700px;
            }

            @supports (backdrop-filter: blur(1rem)) {
                background-color: rgba(0, 0, 0, 0.4);
                backdrop-filter: blur(1rem);
            }


            video,
            img {
                width: 90%;
                max-width: 700px;
            }

            span {
                position: absolute;
                top: 5%;
                right: 5%;
                font-size: 30px;
                color: #fff;
                cursor: pointer;

                &:hover {
                    color: $primary_color;
                }

            }
        }

    }
}