.modal{
    padding: 1em;
    min-width: 320px;
    max-width: 70ch;
    border: 0;
    margin: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);

    h1{
        font-weight: 400;
        font-size: 1.7em;
    }

    &::backdrop{
        background-color: rgba(0, 0, 0, 0.7);

        @supports (backdrop-filter: blur(1rem)) {
            background-color: rgba(0, 0, 0, 0.4);
            backdrop-filter: blur(1rem);
        }
    }

    & > *{
        margin: 0 0 0.5rem 0;
    }

    form{
        width: 100%;
        input,
        textarea {
            width: 100%;
            padding-left: 1em;
        }
    }

    .close-button{
        position: absolute;
        top: 0;
        right: 0;
        margin: 1em;
        font-size: 1.2em;
        background-color: transparent;
        border: none;
        height: 24px;
        aspect-ratio: 1;

        &:hover{
           @include set_background($secondary_color);
            border-radius: 100%;

        }
    }
}

