h1,
h2,
h3,
h4,
h5 {
    font-weight: 700;
    line-height: 1.6;
    margin-top: 0;
    color: inherit;
}

p {
    margin-top: 0;
    color: inherit;
}

a,
a:visited,
a:active {
    text-decoration: none;
    color: inherit;
}

ol,
ul {
    list-style: none;
}

hr {
    margin: 0;
}

input,
input[type=text],
input[type=email],
input[type=date],
input[type=search],
input[type=tel],
textarea {
    padding-block: 12px;
    margin: 8px 0;
    box-sizing: border-box;
    font-family: inherit;
    background: transparent;
    border: none;
    border-bottom: 1px solid black;

    &:focus,
    &:focus-visible {
        outline: none;
        border-bottom: 3px solid $secondary_color;
    }
}

table, th, td{
    border: 1px solid;
    border-collapse: collapse;
    padding: 1em;
    text-align: left;
}
table {
    width: 100%;

    ul{
        list-style: disc;
        list-style-position: inside;
    }
    ol{
        list-style: disc;
    }

}

textarea {
    resize: none;
    height: 100px;
}

.form-control {
    display: flex;
    flex-direction: column;
    width: 100%;

    .select {
        position: relative;
        margin-block: 1em;
        border-bottom: 1px solid;
        padding-block: 12px;
        font-size: inherit;

        select {
            display: none;
        }

        &__selected {
            &::after {
                position: absolute;
                content: "";
                top: 14px;
                right: 10px;
                width: 0;
                height: 0;
                border: 6px solid transparent;

            }

            .select--active::after {
                top: 7px;
            }
        }

        &__items {
            position: absolute;
            @include set_background($primary_color);
            top: 100%;
            left: 0;
            right: 0;
            z-index: 99;
            cursor: pointer;

            div:hover{
                background-color: rgba(0, 0, 0, 0.1);
                cursor: pointer;
            }

            div,
            .select__selected {
                color: inherit;
                padding: 8px 16px;
                cursor: pointer;
            }
        }

        &__hide {
            display: none;
        }
    }
    .same-as-selected {
        background-color: rgba(0, 0, 0, 0.1);
      }
}

.input-group {
    display: flex;
    justify-content: stretch;
    gap: 1em;
    width: 100%;

    input {
        width: 100%;
    }
}


.fa-linkedin-in{
    color: #144477;
}

.fa-twitter{
    color: #1c93e4;
}

.fa-facebook-f{
    color: #1771e6;
}