*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: $light_color;
    font-family:$fonts;
    font-weight: 500;
    line-height: 1.6;
    
}

