$white : rgb(255, 255, 255);
$light_color : rgb(244, 244, 244);
$dark_color : rgb(12, 12, 12);
$black:rgb(0, 0, 0);
$dark_color_fade : rgba(12, 12, 12, 0.644);
$primary_color: #90cd4b;
$secondary_color: rgba(184, 121, 5, 1);
$color-shadow: rgba(23, 11, 41, 0.12);
$color-grey: rgba(183, 192, 199, 0.1);