@use '../utils/breakpoints' as u;

.flex {
    display: flex;
    gap: 2em;
}

.logo {
    padding: .5em;
    margin-inline-start: clamp(1em, 3vw, 5em);
    width: 90px;

    img {

        width: 100%;
    }
}


.header__top {
    @include set_background($white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: .8em;
    width: 100%;

    @include u.breakpoint-down(xsmall) {
        position: fixed;
        z-index: 9999;
    }

    .easy-contact {
        display: none;

    }

    @include u.breakpoint(medium) {
        .easy-contact {
            display: flex;
            gap: 1em;
            justify-content: space-evenly;
            margin-inline: 2em;

            li {
                display: flex;
                align-items: center;

                .easy-contact-icon i {
                    font-size: 15px;
                    margin-inline-end: .5em;
                    padding: .4em;
                    border-radius: 100%;
                    border: 1px solid $secondary_color;
                    color: $secondary_color;
                }

                .easy-contact-info {
                    padding: .5em;

                    span {
                        font-size: x-small;
                        color: grey;
                        line-height: 1;
                    }

                    p {
                        font-weight: 600;
                        line-height: 1;
                    }

                }
            }
        }
    }

}

.header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    display: flex;
    gap: 2em;
    @include set_background($primary_color);
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding-block: 1em;
    padding-inline-start: clamp(1rem, 3vw, 3rem);
    margin: 0;
    z-index: 9999;
    transition: 500ms;

    @include u.breakpoint-down(xsmall) {
        background-color: transparent;
    }

    nav {
        text-align: left;
    }

    

    .primary-navigation {
        list-style: none;
        float: right;

        i {
            margin-inline-start: .5em;
        }

        @include u.breakpoint(small) {
            padding-inline: clamp(1rem, 10vw, 3rem);
        }

        @include u.breakpoint-down(xsmall) {
            position: fixed;
            inset: 0 0 0 30%;
            z-index: -1;


            flex-direction: column;
            padding-inline: 2em;
            padding-block: min(15vh, 10rem);

            transform: translateX(100%);
            transition: transform 400ms ease-in-out;

            &[data-visible="true"] {
                transform: translateX(0);
            }

            @include set_background($header_bg_dark);

            @supports (backdrop-filter: blur(1rem)) {
                @include set_background($white);
                backdrop-filter: blur(1rem);
            }
        }

        a {
            text-decoration: none;
            font-weight: 500;
            font-size: 1em;
            color: inherit;
            opacity: 1;
            position: relative;

            &::before {
                content: '';
                display: block;
                height: 5px;
                background-color: $white;
                position: absolute;
                bottom: -1.2em;
                left: 0;
                right: 0;
                transform: scale(0, 1);
                transition: transform ease-in-out 250ms;
            }

            &:hover::before {
                transform: scale(1, 1);
            }

        }

        li {
            cursor: pointer;
        }

        li:hover .sub-menu {
            @include set_background($white);
            display: block;
            position: absolute;
            z-index: 99;
            margin-top: 0;
            margin-left: -15px;
            @include u.breakpoint-down(xsmall){
                position: relative;
            }


            ul {
                display: block;

                li{
                    width: 200px;
                    padding: .5em  1em ;
                    border-radius: 0;
                    text-align: left;

                    a {
                        width: 100%;
                    }

                    &:hover {
                        @include set_background($secondary_color);
                        @include u.breakpoint-down(xsmall){
                            @include set_background($white);
                        }
                    }
                }
            }

        }


    }

    @include u.breakpoint-down(small) {
        .cta {
            display: none;
        }
    }

    .cta {
        padding-inline: clamp(1rem, 90vw, 3rem);

        a {
            @include set_background($white);
            padding: .5em 2em;
            border-radius: 20px;


            &:hover {
                @include set_background($primary_color);
                border: 1px solid;
            }
        }
    }

    .sub-menu {
        display: none;
    }
}

@include breakpoint(small) {
    .mobile-nav-toggle {
        display: none;
    }
}

@include breakpoint-down(xsmall) {
    .mobile-nav-toggle {
        position: absolute;
        background-image: url(../img/assets/menu-b.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-color: transparent;
        border: none;
        width: 2rem;
        aspect-ratio: 1;
        top: 2rem;
        right: 2rem;
        z-index: 9999;
        cursor: pointer;

        &:focus,
        &:focus-visible {
            background-color: transparent;
            box-sizing: border-box;
            box-shadow: none;
            outline: none;
        }

        &[aria-expanded="true"] {
            background-image: url(../img/assets/close-b.png)
        }

        @include set_background($header_bg_dark);

        @supports (backdrop-filter: blur(1rem)) {
            @include set_background($header_bg_light);
            backdrop-filter: blur(1rem);
        }
    }
}