@use '../utils/breakpoints' as u;

.flex {
    display: flex;
    gap: 2em;
}

.logo {
    margin: 1rem;
    width: 60px;
    img{
        width: 100%;
    }
}

header {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    gap: 2em;
    @include set_background($white);
    width: 100%;
    align-items: center;
    justify-content: space-between;
    z-index: 999;


    input,
    label {
        display: none;
    }

    .primary-navigation {
        list-style: none;

        @include u.breakpoint(small) {
            padding-inline: clamp(3rem, 10vw, 10rem);
        }

        @include u.breakpoint-down(xsmall) {
            position: fixed;
            inset: 0 0 0 30%;
            z-index: 1000;


            flex-direction: column;
            padding-inline: 2em;
            padding-block: min(15vh, 10rem);

            transform: translateX(100%);
            transition: transform 400ms ease-in-out;

            &[data-visible="true"] {
                transform: translateX(0);
            }

            @include set_background($header_bg_dark);

            @supports (backdrop-filter: blur(1rem)) {
                @include set_background($header_bg_light);
                backdrop-filter: blur(1rem);
            }
        }

        span,
        a {
            text-decoration: none;
            // text-transform: uppercase;
            font-weight: 500;
            font-size: 1em;
            color: inherit;
            opacity: 1;
            position: relative;

            &::before {
                content: '';
                display: block;
                height: 3px;
                background-color: $secondary_color;
                position: absolute;
                bottom: -0.75em;
                left: 0;
                right: 0;
                transform: scale(0, 1);
                transition: transform ease-in-out 250ms;
            }

            &:hover::before {
                transform: scale(1, 1);
            }

            &:hover {
                color: $secondary_color;
            }


        }
    }
}

@include breakpoint-down(xsmall) {
    .mobile-nav-toggle {
        position: absolute;
        background-image: url(../img/assets/menu-b.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-color: transparent;
        border: none;
        width: 2rem;
        aspect-ratio: 1;
        top: 2rem;
        right: 2rem;
        z-index: 9999;
        cursor: pointer;

        &:focus,
        &:focus-visible {
            background-color: transparent;
            box-sizing: border-box;
            box-shadow: none;
            outline: none;
        }

        &[aria-expanded="true"] {
            background-image: url(../img/assets/close-b.png)
        }

        @include set_background($header_bg_dark);

        @supports (backdrop-filter: blur(1rem)) {
            @include set_background($header_bg_light);
            backdrop-filter: blur(1rem);
        }
    }
}

.dropbtn {
    cursor: pointer;

    &>i {
        margin-inline-start: 5px;
    }


}

.dropdown {
    position: relative;
    display: inline-block;




    /* Dropdown Content (Hidden by Default) */
    .dropdown-content {
        @include set_background($white);
        display: none;
        position: absolute;
        min-width: 15em;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
        margin-top: 1em;
        border-radius: 8px;
        border: 1px solid $secondary_color;
        transition: display 350ms ease-in-out;

        @include breakpoint-down(xsmall) {
            position: relative;
            box-shadow: unset;
            z-index: unset;
            background-color: unset;
            margin-block: 1em;
            border: none;
            min-width: fit-content;


        }

        .option {
            padding: .5em;
            margin-block: .4em;

            @include u.breakpoint-down(xsmall) {
                padding-inline: 0;
            }

            &:hover::before {
                display: none;
            }

            &:hover {
                @include set_background($secondary_color);

                @include u.breakpoint-down(xsmall) {
                    background-color: transparent;
                    color: $secondary_color;
                    font-weight: 700;
                }

                background-blend-mode: overlay;
            }

        }

        /* Links inside the dropdown */
        &>a {
            color: inherit;
            // padding: 12px 16px;
            font-weight: 500;
            text-decoration: none;
            display: block;




        }
    }


    /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
    .show {
        display: flex;
        flex-direction: column;

    }
}