
.projects{
    margin-inline: 2em;
    margin-block: 1em;

    .heading h1{
        text-align: center;
    }
    &__items{
        
        @include breakpoint(medium){
            display: grid;
            grid-template-columns: auto auto;
        }
    }

    &__main{

        border-bottom: 1px solid;
        margin-bottom: 1em;
        padding: 1em;

        @include breakpoint-down(small){
            &:last-child{
                border-bottom: none;
            }
        }

        h1{
            font-size: 1.8em;
            font-weight: 600;
            text-transform: uppercase;
        }
        img{
            width: 100%;
            aspect-ratio: 4/3;
            max-width: 30em;
            -o-object-fit: cover;
            object-fit: cover;
        }
        @include breakpoint(xlarge){
            display: grid;
            grid-template-columns: auto auto;
            grid-template-rows: auto;
            gap: 2em;
        }

    }
}