.publication {
    width: 100%;
    display: grid;
    gap: 1em;

    &__main {
        padding-inline: 1em;

        &--item {
            display: flex;
            flex-wrap: wrap;
            gap: 2em;
            margin-top: 2em;

            .file {
                &__card {
                    border: 1px solid;
                    border-radius: 4px;
                    padding: 1em;
                    display: grid;
                    grid-template-columns: auto auto;
                    gap: 10px;
                    @include set_background($fade);
                    width: 48%;

                    @include u.breakpoint-down(medium) {
                        width: 100%;
                    }

                    @include u.breakpoint-down(small) {
                        width: 47%;
                    }

                    @include u.breakpoint-down(x-small) {
                        width: 100%;
                    }



                    &--name {
                        h1 {
                            font-size: 1.1em;

                            a {
                                &:hover {
                                    text-decoration: underline;
                                    color: $secondary_color;
                                }
                            }
                        }

                        &-lower {
                            display: flex;
                            justify-content: start;
                            gap: 5px;
                            font-size: small;
                            margin-top: 10px;

                            p {
                                display: flex;
                                gap: 5px;
                                justify-content: start;
                                align-items: center;
                            }
                        }

                    }

                    &--icon {
                        img {
                            &:hover {
                                filter: brightness(50%);
                                margin-top: 5px;
                                scale: .9;
                            }
                        }
                    }

                }
            }

        }
    }
}