.publication {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 1em;

    &__sidenav {
        border-right: 1px solid $dark_color;
        input {
            margin-block: unset;
            background-color: $white;
            padding: .5em;
            border-radius: 20px;
        }
    }

    &__main {
        padding-inline: 1em;
        &--item {
            a {
                color: $secondary_color;

                &:hover {
                    color: $primary_color;
                    text-decoration-line: underline;
                }
            }

            li {
                list-style: number;
            }
        }
    }
}



.file{
    a{
        padding: .5em;
        border: 1px solid;
        border-radius: 4px;

        &:hover{
            @include set_background($primary_color);
            border: none;
        }

        i{
            font-size: 16px;
        }
    }
}