.tabs {
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-inline: auto;
    margin-block: 1em;


    &__head {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__toggle {
        display: flex;
        padding: .5em 3em;
        align-items: center;
        border-radius: 30px;
        justify-content: center;
        background-color: #ddd9d9;
        cursor: pointer;
        margin-left: -30px;
        
        &:first-child{
            margin-left: 0;
        }

        &.is-active {
            @include set_background($primary_color);
            z-index: 10;
        }
    }

   

    &__content {
        padding: 1em;
        display: none;

        &.is-active {
            display: block;
        }
    }

    &__media {
        &--container {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;

            .img,
            .video {
                height: 13rem;
                width: 20rem;
                margin: 1rem;
                border-radius: 5px;
                box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
                overflow: hidden;


                img,
                video {
                    width: 100%;
                    height: 100%;
                    -o-object-fit: cover;
                    object-fit: cover;
                    outline: none;
                    border: none;

                    &:hover{
                        transform: scale(1.3 );
                        transition: transform 500ms ease-in-out;
                    }

                    &.active{
                        position: fixed;
                        top: 50%;
                        left: 30%;
                        transform: translate(-50%, -50%);
                        height: auto;
                        width: 80%;
                        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
                        z-index: 10;

                    }
                }

            }
        }
    }
}