{% extends 'base.html' %}
{% load static %}
{% block title %} career information {% endblock title %}

{% block body %}
<section class="hero">
    <div class="hero__title">
        <h1>Home / Job Description</h1>
    </div>
</section>
<div class="grid">
    <main class="grid__main">
        <div class="grid__main-job">
            <div class="job__desc">
                <h1>{{ object.title }}</h1>
                <p><span>Job ID:</span> {{ object.job_ID }}</p>
                <p>
                    {{ object.job_description | safe }}
                </p>
                <div class="job__desc--top-rqm">
                    <p><i class="fa-solid fa-clock"></i>Post Date: {{ object.pub_date | date }}</p>
                    <p><i class="fa-solid fa-briefcase"></i>Job Type: {{ object.job_type |safe }}</p>
                    <p><i class="fa-solid fa-clock"></i>Deadline : {{ object.deadline | date }}</p>
                    <p><i class="fa-solid fa-briefcase"></i>Status: {{ object.job_status |safe }}</p>
                </div>
                <div class="job__desc--items">
                    <div class="job__desc--rqm">
                        <h1>Responsibilities</h1>
                        <div>{{ object.resposibilities | safe }}</div>
                    </div>
                    <div class="job__desc--rqm">
                        <h1>Qualification</h1>
                        <div>{{ object.qualification | safe }}</div>
                    </div>
                    <div class="job__desc--rqm">
                        <h1>How to Apply</h1>
                        <div>{{ object.how_to_apply | safe }}</div>
                    </div>

                </div>
                <div class="advert__file py-3">
                    <a style="text-decoration: underline;" href="{{ object.advert_file.url }}">Download the job
                        advertisement &rarr;</a>
                </div>
                <!-- <div class="job__desc--button">
                    <button class="btn btn-primary open-button">Apply</button>
                </div> -->
                <dialog class="modal" id="modal">
                    <h1>Fill in the form to apply </h1>

                    <form action="" class="form" method="dialog">
                        <div class="form-control">
                            <label for="name"> Name</label>
                            <div class="input-group">
                                <input type="text" id="fname" placeholder="First Name" required>
                                <input type="text" id="lname" placeholder="Last Name" required>
                            </div>
                        </div>

                        <div class="form-control">
                            <label for="subject">Phone Number</label>
                            <input type="tel" id="subject" placeholder="Telephone" required>
                        </div>

                        <div class="form-control">
                            <label for="email">Email</label>
                            <input type="text" id="email" placeholder="e.g. info@example.com" required>
                        </div>

                        <div class="form-control">
                            <label for="email">Address</label>
                            <input type="text" id="location" placeholder="32 Helena RD " required>
                            <div class="input-group">
                                <input type="text" id="city" placeholder="City " required>
                                <input type="text" id="code" placeholder="Postal Code " required>
                                <input type="text" id="country" placeholder="Country " required>
                            </div>

                        </div>
                        <div class="form-control">
                            <label for="">You Can upload your Resume</label>
                            <input type="file">
                        </div>


                        <button class="btn btn-secondary" type="submit">Apply</button>
                        <button class="close-button"><i class="fa-solid fa-xmark"></i></button>
                    </form>
                </dialog>
                <div class="job__desc--share">
                    <p>Share this vacancy:</p>
                    <ul>
                        <li><a href=""><i class="fa-brands fa-facebook"></i></a></li>
                        <li><a href=""><i class="fa-brands fa-twitter"></i></a></li>
                        <li><a href=""><i class="fa-brands fa-whatsapp"></i></a></li>
                        <li><a href=""><i class="fa-brands fa-linkedin-in"></i></a></li>
                        <li><a href=""><i class="fa-brands fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>

    </main>
    <aside class="grid__sidebar">
        {% include 'aside.html' %}
    </aside>
</div>
{% endblock body %}