{% extends 'base.html' %}
{% load static %}
{% block title %} career {% endblock title %}

{% block body %}
<section class="hero">
    <div class="hero__title">
        <h1>Home / Vacancies</h1>
    </div>
</section>

<div class="grid">
    <main class="grid__main">
        <div class="grid__main--item">
            <div class="heading mb-3">
                <h1>Vacancies</h1>
                <div class="linebg_2"></div>
            </div>
            {% if object_list %}
            {% for job in object_list %}
            <div class="grid__main--list">
                <div class="grid__main--card">
                    <div class="icon">
                        <i class="fa-solid fa-building-circle-arrow-right"></i>
                    </div>
                    <div class="description">
                        <h2>{{ job.title }}</h2>
                        <ul>
                            <li>Status: {{ job.job_status |safe }} </li>
                            <li><i class="fa-solid fa-briefcase"></i>{{ job.job_type | safe }}</li>
                            <li><i class="fa-solid fa-clock"></i>Deadline: {{ job.deadline | date }}</li>
                        </ul>
                    </div>
                    
                    <div class="desc-btn">
                        <a href="{% url 'career_info' job.slug %}">View Full Job Description</a>
                    </div>

                </div>
            </div>
            {% endfor %}
            {% else %}
                <p>Thank you for your inquiry about employment opportunities at Makueni County Sand Conservation and Utilization Authority. <br> <br> Currently, we do not have any open positions, but keep checking for future opportunities.</p>
            {% endif %}

            <!-- <div class="more">
                <a href="">Load More</a>
            </div> -->
            
        </div>

    </main>
    <aside class="grid__sidebar">
        {% include 'aside.html' %}
    </aside>
</div>

{% endblock body %}