{% extends 'base.html' %}
{% load static %}
{% block title %} Tenders {% endblock title %}

{% block body %}
<section class="hero">
    <div class="hero__title">
        <h1>Home / Tenders</h1>
    </div>
</section>

<div class="grid">
    <main class="grid__main">
        <div class="grid__main--item">

<!-- ---------------------------------------------------------
                    tenders listing
 -------------------------------------------------------------->
            <div class="heading mb-3">
                <h1>Tenders</h1>
                <div class="linebg_2"></div>
                
            </div>
            <div class="grid__main--list">

                {% for tender in tender %}
                <div class="grid__main--tender">
                    <div class="description">
                        <ul class="top">
                        <li>{{ tender.title }}</li>
                        <li>Deadline: <span>{{tender.deadline | date }}</span></li>
                        </ul>
                        <ul class="bottom">
                            <li>Tender Reference No: <span>{{ tender.ref_number }}</span></li>
                            <li>Status <span>{{ tender.tender_status }}</span></li>
                            <li>
                                <div class="desc-btn">
                                    <a href="{{ tender.file.url }}" download="">Download</a>
                                </div>
                            </li>
                        </ul>
                    </div>

                </div>
                {% endfor %}

            </div>

            <!-- end tender listing  -->
            
        </div>

    </main>
    <aside class="grid__sidebar">
        {% include 'aside.html' %}
    </aside>
</div>

{% endblock body %}