.error {
    text-align: center;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

    &__number {
        font-size: 10rem;
    }

    &__text {
        h2 {
            text-transform: uppercase;
        }
        p{
            font-size: 1.2em;
            font-weight: 700;
        }

        &--link {

            margin-top: 2em;

            a {
                padding: .5em 2em;
                @include set_background($dark_color);
                border-radius: 4px;

                &:hover {
                    @include set_background($white);
                    border: 1px solid;
                }
            }
        }
    }

    &__bottom {
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: 100;
        text-align: center;
        width: 100%;
        font-size: smaller;

        &--content {
            display: flex;
            flex-wrap: wrap;
            gap: 1em;
            padding-block: .5em;
            @include set_background($dark_color);
            justify-content: center;

            ul {
                display: flex;
                flex-wrap: wrap;
                gap: 1em;

                a{
                    text-decoration: underline;
                }
            }
        }


    }
}